{% extends "core/base.html" %}
{% load static %}
{% block contenido %}
<div style="position: absolute; margin-left: 80px;
     height: auto; width: auto; background-color: transparent;" class="mapa">
    <label class="encabezados">Comisiones</label>
    <div class="container col-12">
        <br>
        <div class="container col-12">
            <table class="table table-info table-striped" style="width: 850px;">
                <thead>
                    <tr>
                        <th style="text-align: center; width: 10%;">Asesor</th>
                        {% for p in object_list %}
                        <th style="text-align: center; width: 20%;">{{ p.nombre }}</th>
                        {% endfor %}
                        <th style="text-align: center; width: 10%;"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for e in datos.comisiones %}
                    <tr>
                        <td style="text-align: left; vertical-align: middle;">{{ e.nombre }}</td>
                        <td style="text-align: center; vertical-align: middle;">{{ e.comision1 }}</td>
                        <td style="text-align: center; vertical-align: middle;">{{ e.comision2 }}</td>
                        <td style="text-align: center; vertical-align: middle;">{{ e.comision3 }}</td>
                        <td style="text-align: center; vertical-align: middle;">{{ e.comision4 }}</td>
                        <td style="text-align: center; vertical-align: middle;">{{ e.comision5 }}</td>
                        <td style="text-align: center; vertical-align: middle;">{{ e.comision6 }}</td>
                        <td style="text-align: center; vertical-align: middle;">{{ e.comision7 }}</td>
                        <td style="text-align: center; vertical-align: middle;">{{ e.comision8 }}</td>
                        <td style="text-align: center; vertical-align: middle;">{{ e.comision9 }}</td>
                        <td>
                            <a href="{% url 'comision_por_asesor' e.id %}" class="btn btn-outline-secondary">Editar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-success">Anterior</a>
        {% endif %}
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="btn btn-success">Siguiente</a>
        {% endif %}
    </div>
</div>
{% endblock %}