{% extends "core/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block blcss %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{{ form.media }}
{% endblock %}
{% block contenido %}
<div class="container mapa col-5" style="width: 450px;">
    <h3 style="margin-right: 25px; margin-top: 15px;">Comisiones asesor</h3>
    <hr class="mt-0 mb-4">
    <a class="btn btn-outline-dark" href="{% url 'empleados' %}">Regresar</a>
    <br>
    <br>
    <div class="container col-12">
        <div class="wrapper fadeInDown">
            <div id="formContent" style="text-align: right;">
                <form action="" method="POST" style="text-align: left;" onkeypress="return anular(event)">
                    {% csrf_token %}
                    <div class="form-row ">
                        <div class=" col-12">
                            <label>Empleado</label>
                            <input type="text" name="nombre_empleado" id="id_nombre_empleado" class="form-control"
                                readonly value="{{ nombre_empleado }}">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12 mb-0">
                            <label for="">Proyecto</label>
                            <select name="proyecto" id="id_proyecto" class="form-control">
                                {% for p in proyectos_cmb %}
                                <option value="{{ p.id }}">{{ p.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4 mb-0">
                            <label>Comisión</label>
                            <input type="text" name="comision" id="id_comision" class="form-control" step='0.01'
                                value='0.00' placeholder='0.00' style="text-align: right;">
                        </div>
                    </div>
                    <br>
                    <div class="form-row">
                        <div class="form-group col-md-4 mb-0">
                            <input type="submit" value="Guarda" class="btn btn-success">
                        </div>
                        <div class="form-group col-md-8 mb-0">
                            <input type="text" name="mensaje" id="id_mensaje" value="{{ mensaje }}" readonly
                                class="form-control" style="text-align: center;">
                        </div>
                    </div>
                </form>
            </div>
            <br>
            <div class="row">
                <table class="estilo-tabla col-12">
                    <thead>
                        <tr>
                            <th class="col-md-2 titulo-tabla">Id</th>
                            <th class="col-md-8 titulo-tabla">Proyecto</th>
                            <th class="col-md-2 titulo-tabla">Comisión</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for e in object_list %}
                        <tr>
                            <td style="text-align: left; vertical-align: middle;">{{ e.proyecto_com.id }}</td>
                            <td style="text-align: left; vertical-align: middle;">{{ e.proyecto_com.nombre }}</td>
                            <td style="text-align: center; vertical-align: middle;">{{ e.comision }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    function anular(e) {
        tecla = (document.all) ? e.keyCode : e.which;
        return (tecla != 13);
    }
    $("#id_comision").keypress(function (event) {
        var c = event.keyCode || event.which,
            key = String.fromCharCode(c),
            chars = "0123456789."
        if (chars.search(key) !== -1) {
            contador = 0;
            decimales = 0;
            enteros = 0;
            cadena = $("#id_comision").val() + key;
            sw = 0;
            for (var i = 0; i < cadena.length; i++) {
                if (cadena[i] == ".") {
                    contador++
                    sw = 1;
                } else {
                    if (sw == 1) {
                        if (contador == 1) {
                            decimales++;
                            if (decimales > 2) {
                                return false;
                            }
                        }
                    } else {
                        enteros++;
                        if (enteros > 2) {
                            return false;
                        }
                    }
                }
            }
            if (contador > 1) {
                return false;
            } else {
                return true;
            }
        } else {
            return false;
        }
    })
    $(document).ready(function () {

    });
</script>
{% endblock %}