{% extends "core/base.html" %}
{% load static %}
{% block blcss %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% endblock %}
{% block contenido %}
{% for py in proyecto %}
<div style="position: absolute; margin-left: 80px;
     height: auto; width: auto; background-color: transparent;" class="mapa">
<div class="container">
    <label class="encabezados">{{ py.nombre }}</label>
    <div class="btn-group btn-group-justified">
        <a href="{% url 'bienes' py.id %}" class="btn btn-primary" id="bien">{{ py.get_tipo_proyecto_display }}</a>
        <a href="{% url 'solicitudes' py.id %}" class="btn btn-primary" id="solicitud">Solicitudes</a>
        <a href="{% url 'autorizaciones' py.id %}" class="btn btn-primary" id="autorizacion">Autorizaciones</a>
        <a href="{% url 'compromisos' py.id %}" class="btn btn-primary" id="compromiso">Compromisos</a>
        <a href="{% url 'contratos' py.id %}" class="btn btn-primary" id="contrata">Contratar</a>
        <a href="{% url 'pagar' py.id %}" class="btn btn-primary" id="pagar">Pagos</a>
        <a href="{% url 'archivo' py.id %}" class="btn btn-primary" id="archivo">Archivo</a>
        <a href="#" class="btn btn-primary" id="credito">Créditos</a>
        <a href="#" class="btn btn-primary" id="contado">Contados</a>
    </div>
</div>
<div class="container">
    <a class="btn btn-outline-dark" href="{% url 'nvo_bien' py.id %}" role="button">Agregar</a>
    <table class="table table-info table-striped col-md-10">
        <thead>
            <tr>
                <th style="text-align: center;" scope="col" hidden>Clave</th>
                {% if py.id == 1 %}
                <th style="text-align: center;" scope="col">Fase</th>
                <th style="text-align: center;" scope="col">Manzana</th>
                <th style="text-align: center;" scope="col">Lote</th>
                {% endif %}
                {% if py.id == 2 %}
                <th style="text-align: center;" scope="col">Local</th>
                {% endif %}
                <th style="text-align: center;" scope="col">Medidas</th>
                <th style="text-align: center;" scope="col">Área total</th>
                <th style="text-align: center;" scope="col">Precio m²</th>
                <th style="text-align: center;" scope="col">Precio</th>
                {% if py.id == 2 %}
                <th style="text-align: center;" scope="col">Terraza</th>
                <th style="text-align: center;" scope="col">Gran total</th>
                {% endif %}
                {% if py.id == 1 %}
                <th style="text-align: center;" scope="col">Esquina</th>
                {% endif %}
                <th style="text-align: center;" scope="col">Estatus</th>
                <th style="text-align: center;" scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for e in object_list %}
            <tr>
                <td class="col-md-1" style="text-align: center;" hidden>{{ e.id }}</td>
                {% if py.id == 1 %}
                <td class="col-md-1" style="text-align: center;">{{ e.fase }}</td>
                <td class="col-md-1" style="text-align: center;">{{ e.manzana }}</td>
                {% endif %}
                <td class="col-md-1" style="text-align: center;">{{ e.lote }}</td>
                <td>
                {% if e.tipo_lote == True %}
                Frente:{{ e.frente }} Fondo:{{ e.fondo }}
                {% else %}
                {{ e.obs_irregular }}
                {% endif %}
                </td>
                <td class="col-md-1" style="text-align: right;">{{ e.total }}</td>
                <td class="col-md-1" style="text-align: right;">{{ e.precio_x_mt }}</td>
                <td class="col-md-1" style="text-align: right;">{{ e.precio }}</td>
                {% if py.id == 2 %}
                <td class="col-md-1" style="text-align: right;">{{ e.terraza }}</td>
                <td class="col-md-1" style="text-align: right;">{{ e.gran_total }}</td>
                {% endif %}
                {% if py.id == 1 %}
                <td class="col-md-1" style="text-align: center;">{{ e.get_esquina_display }}</td>
                {% endif %}
                <td class="col-md-1" style="text-align: center;">{{ e.get_estatus_lote_display }}</td>
                <td class="col-md-1" >
                {% if e.estatus_lote == 1 or e.estatus_lote == 4 %}
                {% if perms.bien.reservar %}
                <a href="{% url 'mod_bien' e.id py.id %}" class="btn btn-outline-secondary">Editar</a>
                {% endif %}
                {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% if page_obj.has_previous %}
<a href="?page={{ page_obj.previous_page_number }}" class="btn btn-success">Anterior</a>
{% endif %}
{% if page_obj.has_next %}
<a href="?page={{ page_obj.next_page_number }}" class="btn btn-success">Siguiente</a>
{% endif %}
</div>
</div>
{% endfor %}
<script>
    $(document).ready(function () {
        opcion = "#" + "{{ menu }}";
        $(opcion).addClass('active');
    });
</script>
{% endblock %}