{% extends "core/base.html" %}
{% load static %}
{% block blcss %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% endblock %}
{% block contenido %}
{% for py in proyecto %}
{% if app_proy_acceso %}
<div class="container">
    <label class="encabezados">{{ py.nombre }}</label><br>
    <div class="btn-group btn-group-justified">
        {% if nuvole_ver %}
        <a href="{% url 'bienes' py.id %}" class="btn btn-primary" id="bien">{{ py.get_tipo_proyecto_display }}</a>
        {% endif %}
        {% if nuvole_ver_solicitud %}
        <a href="{% url 'solicitudes' py.id %}" class="btn btn-primary" id="solicitud">Solicitudes</a>
        {% endif %}
        {% if nuvole_autoriza_visualiza %}
        <a href="{% url 'autorizaciones' py.id %}" class="btn btn-primary" id="autorizacion">Autorizaciones</a>
        {% endif %}
        {% if nuvole_compromiso %}
        <a href="{% url 'compromisos' py.id %}" class="btn btn-primary" id="compromiso">Compromisos</a>
        {% endif %}
        {% if nuvole_contratar %}
        <a href="{% url 'contratos' py.id %}" class="btn btn-primary" id="contrata">Contratar</a>
        {% endif %}
        {% if nuvole_listado_registro_mensual %}
        <a href="{% url 'pagar' py.id %}" class="btn btn-primary" id="pagar">Mensualidades</a>
        {% endif %}
        {% if nuvole_consulta_archivo %}
        <a href="{% url 'archivo' py.id %}" class="btn btn-primary" id="archivo">Archivo</a>
        {% endif %}
        {% if nuvole_creditos %}
        <a href="{% url 'contrato_credito' py.id %}" class="btn btn-primary" id="credito">Créditos</a>
        {% endif %}
        {% if nuvole_contados %}
        <a href="{% url 'contrato_contado' py.id %}" class="btn btn-primary" id="contado">Contados</a>
        {% endif %}
    </div>
</div>
<div style="height: 410px; width: 650px; " class="mapa">
    <img src="{% static 'core/img/plano2022.jpg' %}" alt=""
        style="height: 405px; width: 620; position: absolute; margin-left: 20px; padding: 5px;">
    <svg style="position: absolute; width: 800px; height: 600px; margin-left: 20px;">
        {% for e in object_list %}
        <polygon points="{{e.coordenadas}}" onclick="funciona()" style="position: absolute;" class="
        {% if e.estatus_lote == 1 %}
            loteDisponible
        {% elif e.estatus_lote == 2 %}
            loteApartado
        {% elif e.estatus_lote == 3 %}
            loteVendido
        {% elif e.estatus_lote == 4 %}
            loteReservado
        {% else %}

        {% endif %} 
        ">
            <title>{{e.lote}} {{e.total}} m² - ${{e.precio}}</title>
        </polygon>
        <circle cx="{{e.posicion_circulo_x}}" cy="{{e.posicion_circulo_y}}" r="5" fill="white" style="cursor: pointer;">
            <title>{{e.lote}} {{e.total}} m² - ${{e.precio}}</title>
        </circle>
        <text x="{{e.posicion_x}}" y="{{e.posicion_y}}"
            style="font-size: 4px; font-weight: bold; cursor: pointer;">{{e.lote}}
            <title>{{e.lote}} {{e.total}} m² - ${{e.precio}}</title>
        </text>
        {% endfor %}
    </svg>
</div>
<script>
    $(document).ready(function () {
        opcion = "#" + "{{ menu }}";
        $(opcion).addClass('active');
    });
</script>
{% endif %}
{% endfor %}
{% endblock %}