{% extends "core/base.html" %}
{% load static %}
{% block blcss %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{{ form.media }}
{% endblock %}
{% load crispy_forms_tags %}
{% block contenido %}
{% if app_proy_edita_comisiones_proyecto %}
<div class="container col-12" style="width: 500px;">
    <table>
        <tr>
            <td style="background-color: darkgrey">
                <label class="encabezados">{{nombre}} comisiones</label>
            </td>
            <td style="background-color: darkgrey; width: 25%;">
                <h3 style="float: right; margin-right: 25px; margin-top: 15px;">{{ accion }}</h3>
            </td>
        </tr>
    </table>
    <hr class="mt-0 mb-4" style="background-color: transparent;">
    <a class="btn btn-outline-dark" href="{% url 'proyectos' %}">Regresar</a>
    <div class="container col-12">
        <form action="" method="POST" style="text-align: left;">
            {% csrf_token %}
            {% for p in proyecto %}
            <div class="form-row col-12">
                <div class="form-group col-6">
                    <label>Nombre</label>
                    <input type="text" name="" id="" value="{{p.nombre}}" class="form-control col-12" readonly>
                </div>
                <div class="form-group col-6">
                    <label>Tipo proyecto</label>
                    <input type="text" name="" id=""
                        value="{{ p.get_tipo_proyecto_display }}" class="form-control col-12" readonly>
                </div>
            </div>
            {% endfor %}
            <div class="form-row col-6">
                <div class="form-group">
                    {{ form.comision_asesor|as_crispy_field }}
                </div>
            </div>
            <div class="form-row col-6">
                <div class="form-group">
                    {{ form.comision_jefe_asesor|as_crispy_field }}
                </div>
            </div>
            <input type="submit" value="Guarda" class="btn btn-success">
        </form>
        <br>
    </div>
</div>
<script>
    function anular(e) {
        tecla = (document.all) ? e.keyCode : e.which;
        return (tecla != 13);
    }
    $(document).ready(function () {
        $("#id_nombre").attr('readonly', 'true');
        $("#id_tipo_proyecto").attr('disabled', 'true');
        $("#id_comision_asesor").css("text-align", "right");
        $("#id_comision_jefe_asesor").css("text-align", "right");
    })
</script>
{% endif %}
{% endblock %}