{% extends "core/base.html" %}
{% load static %}
{% block blcss %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% endblock %}
{% block contenido %}
{% for py in proyecto %}
{% if app_proy_acceso %}
<div class="container espacio-menu">
    <label class="encabezados">{{ py.nombre }}</label><br>
    <div class="btn-group btn-group-justified container">
        {% if local_punta_o_ver %}
        <a href="{% url 'bienes' py.id %}" class="btn btn-primary" id="bien">{{ py.get_tipo_proyecto_display }}</a>
        {% endif %}
        {% if local_punta_o_ver_solicitud %}
        <a href="{% url 'solicitudes' py.id %}" class="btn btn-primary" id="solicitud">Solicitudes</a>
        {% endif %}
        {% if local_punta_o_autoriza_visualiza %}
        <a href="{% url 'autorizaciones' py.id %}" class="btn btn-primary" id="autorizacion">Autorizaciones</a>
        {% endif %}
        {% if local_punta_o_compromiso %}
        <a href="{% url 'compromisos' py.id %}" class="btn btn-primary" id="compromiso">Compromisos</a>
        {% endif %}
        {% if local_punta_o_contratar %}
        <a href="{% url 'contratos' py.id %}" class="btn btn-primary" id="contrata">Contratar</a>
        {% endif %}
        {% if local_punta_o_listado_registro_mensual %}
        <a href="{% url 'pagar' py.id %}" class="btn btn-primary" id="pagar">Mensualidades</a>
        {% endif %}
        {% if local_punta_o_consulta_archivo %}
        <a href="{% url 'archivo' py.id %}" class="btn btn-primary" id="archivo">Archivo</a>
        {% endif %}
        {% if local_punta_o_creditos %}
        <a href="{% url 'contrato_credito' py.id %}" class="btn btn-primary" id="credito">Créditos</a>
        {% endif %}
        {% if local_punta_o_contados %}
        <a href="{% url 'contrato_contado' py.id %}" class="btn btn-primary" id="contado">Contados</a>
        {% endif %}
    </div>
</div>
<div class="mapa" style="height: 410px; width: 650px; ">
    <div class="container">
        <img src="{% static 'core/img/no disponible.jpg' %}" alt=""
            style="height: 300px; width: 620; position: absolute; margin-left: 20px; padding: 5px;"/>
    </div>
</div>
<script>
    $(document).ready(function () {
        opcion = "#" + "{{ menu }}";
        $(opcion).addClass('active');
    });
</script>
{% endif %}
{% endfor %}
{% endblock %}