{% extends "core/base.html" %}
{% load static %}
{% block contenido %}
<div style="position: absolute; margin-left: 80px;
     height: auto; width: auto; background-color: transparent;" class="mapa">
    <label class="encabezados">Proyectos</label>
    <div class="container col-12">
        <br>
        <div class="container col-12">
            <table class="table table-info table-striped" style="width: 600px;">
                <thead>
                    <tr>
                        <th style="text-align: center; width: 10%;" hidden>Id</th>
                        <th style="text-align: center; width: 20%;">Proyecto</th>
                        <th style="text-align: center; width: 20%;" hidden>Tipo</th>
                        <th style="text-align: center; width: 10%;">Com. Agente</th>
                        <th style="text-align: center; width: 10%;">Com. Coordinador</th>
                        <th style="text-align: center; width: 10%;"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for c in object_list %}
                    <tr>
                        <td hidden>{{ c.id }}</td>
                        <td>{{ c.nombre }}</td>
                        <td hidden>{{ c.get_tipo_proyecto_display }}</td>
                        <td style="text-align: center;">{{ c.comision_asesor }}</td>
                        <td style="text-align: center;">{{ c.comision_jefe_asesor }}</td>
                        <td>
                            <a href="{% url 'mod_proyecto' c.id %}" class="btn btn-outline-secondary">Editar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-success">Anterior</a>
        {% endif %}
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="btn btn-success">Siguiente</a>
        {% endif %}
    </div>
</div>
{% endblock %}