{% extends "core/base.html" %}
{% load static %}
{% block blcss %}
{% endblock %}
{% block contenido %}
{% for py in proyecto %}
{% if app_proy_acceso %}
<div class="col-12 d-flex justify-content-center">
    <div class="mapa">
        <div class="encabezados">
            <label>{{ py.nombre }}</label>
        </div>
        <div class="btn-group">
            {% if torre_vento_acceso %}
            <a href="{% url py.app py.id py.piso_default %}" class="btn btn-primary" id="menuMapa">Mapa</a>
            {% endif %}
            {% if torre_vento_ver %}
            <a href="{% url 'bienes' py.id %}" class="btn btn-primary" id="bien">{{ py.get_tipo_proyecto_display }}</a>
            {% endif %}
            {% if torre_vento_ver_solicitud %}
            <a href="{% url 'solicitudes' py.id %}" class="btn btn-primary" id="solicitud">Solicitudes</a>
            {% endif %}
            {% if torre_vento_autoriza_visualiza %}
            <a href="{% url 'autorizaciones' py.id %}" class="btn btn-primary" id="autorizacion">Autorizaciones</a>
            {% endif %}
            {% if torre_vento_compromiso %}
            <a href="{% url 'compromisos' py.id %}" class="btn btn-primary" id="compromiso">Compromisos</a>
            {% endif %}
            {% if torre_vento_contratar %}
            <a href="{% url 'contratos' py.id %}" class="btn btn-primary" id="contrata">Contratar</a>
            {% endif %}
            {% if torre_vento_listado_registro_mensual %}
            <a href="{% url 'pagar' py.id %}" class="btn btn-primary" id="pagar">Mensualidades</a>
            {% endif %}
            {% if torre_vento_consulta_archivo %}
            <a href="{% url 'archivo' py.id %}" class="btn btn-primary" id="archivo">Archivo</a>
            {% endif %}
            {% if torre_vento_creditos %}
            <a href="{% url 'contrato_credito' py.id %}" class="btn btn-primary" id="credito">Créditos</a>
            {% endif %}
            {% if torre_vento_contados %}
            <a href="{% url 'contrato_contado' py.id %}" class="btn btn-primary" id="contado">Contados</a>
            {% endif %}
        </div>
    </div>
</div>
<div class="d-flex justify-content-center row">
    {% for bien in bienes %}
    <div class="mapa col-1 d-flex justify-content-center" style="background-color:
        {% if bien.estatus_lote == 1 %}
            #38E940; 
        {% elif bien.estatus_lote == 2 %}
            #FCF900; 
        {% elif bien.estatus_lote == 3 %}
            #EB6664; 
        {% elif bien.estatus_lote == 4 %}
            #117CF4; 
        {% endif %}">
        <label style="font-size: small; margin-left: 10px; font-weight: bold;">{{ bien.total }}</label>
        <label style="font-size: small; margin-left: 10px;">
            {% if bien.estatus_lote == 1 %}
            Disponibles
            {% elif bien.estatus_lote == 2 %}
            Apartados
            {% elif bien.estatus_lote == 3 %}
            Vendidos
            {% elif bien.estatus_lote == 4 %}
            Reservados
            {% endif %}
        </label>
    </div>
    {% endfor %}
</div>
<div class="position-relative d-flex justify-content-center">
    <div class="mapa col-5">
        <div class="position-relative d-flex justify-content-center">
            <div class="position-relative d-flex justify-content-center">
                <div class="btn-group" >
                    <a href="" class="btn btn-primary {{nivel_0}}">Edificios</a>
                    <a href="" class="btn btn-primary {{nivel_1}}">Torre Poniente</a>
                    <a href="" class="btn btn-primary {{nivel_2}}">Torre Centro</a>
                    <a href="" class="btn btn-primary {{nivel_3}}">Torre Oriente</a>
                </div>
            </div>
        </div>
        <hr>
        <div class="position-relative d-flex justify-content-center" id="niveles">
            <div class="position-relative d-flex justify-content-center">
                <div class="btn-group" >
                    <a href="" class="btn btn-primary {{nivel_0}}">Nivel 1</a>
                    <a href="" class="btn btn-primary {{nivel_1}}">Nivel 2</a>
                    <a href="" class="btn btn-primary {{nivel_2}}">Nivel 3</a>
                    <a href="" class="btn btn-primary {{nivel_3}}">Nivel 4</a>
                </div>
            </div>
        </div>
        <div class="position-relative d-flex justify-content-center">
            <div class="position-relative d-flex justify-content-center">
                <div style="height: 520px; width: 640px; background-color: white;" class="mapa">
                    {% if nivel == '0' %}

                    {% elif nivel == '1' %}

                    {% else %}

                    {% endif %}
                    <svg style="position: absolute; width: 800px; height: 640px;" id="plano">
                        {% for e in object_list %}
                        {% if e.estatus_lote != 9 %}

                        {% endif %}
                        {% endfor %}
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}
{% endblock %}
<script>
    $(document).ready(function () {
        {% block inicio %}
        opcion = "#" + "{{ menu }}";
        $(opcion).addClass('active');
        {% endblock %}
    });
</script>
