{% extends "core/base.html" %}
{% load static %}
{% block blcss %}
{% endblock %}
{% block contenido %}
{% for py in proyecto %}
{% if app_proy_acceso %}
<div class="mapa">
    <label class="encabezados">{{ py.nombre }}</label><br>
    <div class="btn-group btn-group-justified">
        {% if toscana_acceso %}
        <a href="{% url py.app py.id py.piso_default %}" class="btn btn-primary" id="menuMapa">Mapa</a>
        {% endif %}
        {% if toscana_ver %}
        <a href="{% url 'bienes' py.id %}" class="btn btn-primary" id="bien">{{ py.get_tipo_proyecto_display }}</a>
        {% endif %}
        {% if toscana_ver_solicitud %}
        <a href="{% url 'solicitudes' py.id %}" class="btn btn-primary" id="solicitud">Solicitudes</a>
        {% endif %}
        {% if toscana_autoriza_visualiza %}
        <a href="{% url 'autorizaciones' py.id %}" class="btn btn-primary" id="autorizacion">Autorizaciones</a>
        {% endif %}
        {% if toscana_compromiso %}
        <a href="{% url 'compromisos' py.id %}" class="btn btn-primary" id="compromiso">Compromisos</a>
        {% endif %}
        {% if toscana_contratar %}
        <a href="{% url 'contratos' py.id %}" class="btn btn-primary" id="contrata">Contratar</a>
        {% endif %}
        {% if toscana_listado_registro_mensual %}
        <a href="{% url 'pagar' py.id %}" class="btn btn-primary" id="pagar">Mensualidades</a>
        {% endif %}
        {% if toscana_consulta_archivo %}
        <a href="{% url 'archivo' py.id %}" class="btn btn-primary" id="archivo">Archivo</a>
        {% endif %}
        {% if toscana_creditos %}
        <a href="{% url 'contrato_credito' py.id %}" class="btn btn-primary" id="credito">Créditos</a>
        {% endif %}
        {% if toscana_contados %}
        <a href="{% url 'contrato_contado' py.id %}" class="btn btn-primary" id="contado">Contados</a>
        {% endif %}
    </div>
</div>
<div class="mapa" style="width: 690px;">
    <div>
        <div class="btn-group" >
            <a href="{% url 'toscana' py.id 1 %}" class="btn btn-primary {{nivel_1}}">Planta baja</a>
            <a href="{% url 'toscana' py.id 2 %}" class="btn btn-primary {{nivel_2}}">Primer piso</a>
            <a href="{% url 'toscana' py.id 3 %}" class="btn btn-primary {{nivel_3}}">Segundo piso</a>
        </div>
    </div>
    <div>
        <div style="height: 520px; width: 640px; background-color: white;" class="mapa">
            {% if nivel == '1' %}
            <img src="{% static 'core/img/Planta baja.png' %}" alt=""
                style="height: 500px; width: auto; position: absolute; margin-top: 5px; margin-left: 50px;">
            {% elif nivel == '2' %}
            <img src="{% static 'core/img/Primer nivel.png' %}" alt=""
                style="height: 500px; width: auto; position: absolute; margin-top: 5px; margin-left: 50px;">
            {% else %}
            <img src="{% static 'core/img/Segundo nivel.png' %}" alt=""
                style="height: 500px; width: auto; position: absolute; margin-top: 5px; margin-left: 50px;">
            {% endif %}
            <svg style="position: absolute; width: 800px; height: 640px;" id="plano">
                {% for e in object_list %}
                {% if e.estatus_lote != 9 %}
                <polygon points="{{e.coordenadas}}" onclick="funciona()" style="position: absolute;" class="
                        {% if e.estatus_lote == 1 %}
                            loteDisponible
                        {% elif e.estatus_lote == 2 %}
                            loteApartado
                        {% elif e.estatus_lote == 3 %}
                            loteVendido
                        {% elif e.estatus_lote == 4 %}
                            loteReservado
                        {% else %}
                
                        {% endif %} 
                        ">
                    <title>{{e.lote}} - {{e.total}} m² {% if e.terraza > 0 %} - terraza {{ e.terraza }} m²
                        {% endif %} - ${{e.gran_total}}</title>
                </polygon>
                <circle cx="{{e.posicion_circulo_x}}" cy="{{e.posicion_circulo_y}}" r="10" fill="white"
                    style="cursor: pointer;">
                    <title>{{e.lote}} - {{e.total}} m² {% if e.terraza > 0 %} - terraza {{ e.terraza }} m²
                        {% endif %} - ${{e.gran_total}}</title>
                </circle>
                <text x="{{e.posicion_x}}" y="{{e.posicion_y}}"
                    style="font-size: 10px; font-weight: bold; cursor: pointer;">{{e.lote}}
                    <title>{{e.lote}} - {{e.total}} m² {% if e.terraza > 0 %} - terraza {{ e.terraza }} m²
                        {% endif %} - ${{e.gran_total}}</title>
                </text>
                <!--        <text x="{{e.posicion_texto_x}}" y="{{e.posicion_texto_y}}" style="font-size: 2.5px; ">{{e.total}}m²</text> -->
                {% endif %}
                {% endfor %}
            </svg>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}
{% endblock %}
<script>
    $(document).ready(function () {
        {% block inicio %}
        opcion = "#" + "{{ menu }}";
        $(opcion).addClass('active');
        {% endblock %}
    });
</script>
