{% extends "core/base.html" %}
{% load static %}
{% block blcss %}
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {{ form.media }}
{% endblock %}
{% load crispy_forms_tags %}
{% block contenido %}
{% if perms.cliente.add_cliente or perms.cliente.change_cliente %}
<label class="encabezados">Cliente</label><h3 style="float: right; margin-right: 25px; margin-top: 15px;">{{ accion }}</h3>
<hr class="mt-0 mb-4">
<a class="btn btn-outline-dark" href="{% url 'clientes' %}">Regresar</a>
<div class="container col-12">
    <div class="wrapper fadeInDown">
        <div id="formContent" style="text-align: right;">
            <form action="" method="POST" style="text-align: left;" onkeypress="return anular(event)">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-4 mb-0">
                        {{ form.tipo_cliente|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-8 mb-0" id="gpo_razon">
                        {{ form.razon|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row" id="lbl_representante" style="text-align: center; font-weight: bold;"> 
                    <label class="col-md-12">Representante legal</label> 
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4 mb-0">
                        {{ form.nombre|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-4 mb-0">
                        {{ form.paterno|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-4 mb-0">
                        {{ form.materno|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4 mb-0">
                        {{ form.fecha_nac|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-4 mb-0">
                        {{ form.rfc|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-4 mb-0">
                        {{ form.curp|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4 mb-0">
                        {{ form.genero|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-4 mb-0">
                        {{ form.estado_civil|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12 mb-0">
                        {{ form.calle|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4 mb-0">
                        {{ form.colonia|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-4 mb-0">
                        {{ form.codpos|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4 mb-0">
                        {{ form.municipio|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-4 mb-0">
                        {{ form.estado|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4 mb-0">
                        {{ form.celular|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-8 mb-0">
                        {{ form.correo|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4 mb-0">
                        {{ form.estatus_cliente|as_crispy_field }}
                    </div>
                    {% if administrador %}
                    <div class="form-group col-md-4 mb-0">
                        {{ form.asesor|as_crispy_field }}
                    </div>
                    {% endif %}
                </div>
                {% if perms.cliente.add_cliente or perms.cliente.change_cliente %}
                <input type="submit" value="Guarda" class="btn btn-success">
                {% endif %}
            </form>
            <br>
        </div>
    </div>
</div>
<script>
    function anular(e) {
        tecla = (document.all) ? e.keyCode : e.which;
        return (tecla != 13);
    }
    function tipoCliente() {
        if ($("#id_tipo_cliente_0").is(':checked')) {
            $("#gpo_razon").hide();
            $("#lbl_representante").hide();
            $("label[for='id_rfc']").text("RFC");
        } else {
            $("label[for='id_rfc']").text("RFC Empresa");
            $("#gpo_razon").show();
            $("#lbl_representante").show();
        }
    }
    $(function () {
        window.captureEvents(Event.SUBMIT);
        window.onsubmit = guarda;
        tipoCliente();
        {% if accion == "Alta" %}
        $("#id_asesor").val("{{id_empleado}}")
        {% endif %}
        // Cuando cambia tipo de cliente 0
        $("#id_tipo_cliente_0").on("change", function () {
            tipoCliente()
        });
        $("#id_tipo_cliente_1").on("change", function () {
            tipoCliente()
        });
        function guarda() {
            aviso("Aviso","Guardado exitosamente");
            return true;
        }
    });
</script>
{% endif %}
{% endblock %}