{% extends "core/base.html" %}
{% load static %}
{% block blcss %}
{{ form.media }}
{% endblock %}
{% load crispy_forms_tags %}
{% block contenido %}
{% if perms.cliente.add_cliente or perms.cliente.change_cliente %}
<div class="col-12 d-flex justify-content-center">
    <div class=" mapa col-6">
        <label class="encabezados">Cliente</label>
        <h3 style="float: right; margin-right: 25px; margin-top: 15px;">{{ accion }}</h3>
        <hr class="mt-0 mb-4">
        <div>
            <a class="btn btn-info" href="{% url 'clientes' %}" title="Regresar a la pantalla anterior">
                <img src="{% static 'core/img/regresar.svg' %}" width="20"/>
            </a>
        </div>
        <div class="col-12">
            <br>
            <div class="wrapper fadeInDown">
                <div id="formContent" style="text-align: right;">
                    <form action="" method="POST" style="text-align: left;" onkeypress="return anular(event)">
                        {% csrf_token %}
                        <div class="row">
                            <div class="form-group col-md-4 mb-0">
                                {{ form.tipo_cliente|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-8 mb-0" id="gpo_razon">
                                {{ form.razon|as_crispy_field }}
                            </div>
                        </div>
                        <br>
                        <div class="row" id="lbl_representante" style="text-align: left; font-weight: bold;">
                            <label class="col-md-12">Representante legal</label>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4 mb-0">
                                {{ form.nombre|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-4 mb-0">
                                {{ form.paterno|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-4 mb-0">
                                {{ form.materno|as_crispy_field }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4 mb-0">
                                {{ form.fecha_nac|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-4 mb-0">
                                {{ form.rfc|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-4 mb-0">
                                {{ form.curp|as_crispy_field }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4 mb-0">
                                {{ form.genero|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-4 mb-0">
                                {{ form.estado_civil|as_crispy_field }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12 mb-0">
                                {{ form.calle|as_crispy_field }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4 mb-0">
                                {{ form.colonia|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-4 mb-0">
                                {{ form.codpos|as_crispy_field }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4 mb-0">
                                {{ form.municipio|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-4 mb-0">
                                {{ form.estado|as_crispy_field }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4 mb-0">
                                {{ form.celular|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-8 mb-0">
                                {{ form.correo|as_crispy_field }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4 mb-0">
                                {{ form.estatus_cliente|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-4 mb-0" id="bloque_asesor">
                                {{ form.asesor|as_crispy_field }}
                            </div>
                        </div>
                        {% if perms.cliente.add_cliente or perms.cliente.change_cliente %}
                        <br>
                        <button type="submit" class="btn btn-success" title="Guarda cliente">
                            <img src="{% static 'core/img/guardar.svg' %}" width="20" />
                        </button>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
<script>
    {% block bljs %}
    function anular(e) {
        tecla = (document.all) ? e.keyCode : e.which;
        return (tecla != 13);
    }
    function tipoCliente() {
        if ($("#id_tipo_cliente").val() == "0") {
            $("#gpo_razon").hide();
            $("#id_razon").val("");
            $("#lbl_representante").hide();
            $("label[for='id_rfc']").text("RFC");
        } else {
            $("label[for='id_rfc']").text("RFC Empresa");
            $("#gpo_razon").show();
            $("#lbl_representante").show();
        }
    }
    $(function () {
        //        window.captureEvents(Event.SUBMIT);
        //        window.onsubmit = guarda;
        tipoCliente();
        {% if accion == "Alta" %}
        $("#id_asesor").val("{{id_empleado}}")
        $("#id_razon").val("");
        {% endif %}
        {% if administrador %}
        $("#bloque_asesor").show()
        {% else %}
        $("#bloque_asesor").hide()
        {% endif %}
        if ($("#id_razon").val() == "None") {
            $("#id_razon").val("");
        }
        // Cuando cambia tipo de cliente 0
        $("#id_tipo_cliente").on("change", function () {
            tipoCliente()
        });
    });
    {% endblock %}
</script>