{% extends "core/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block blcss %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% endblock %}
{% block contenido %}
{% for py in proyecto_tb %}
{% if app_proy_datos_contrato %}
<div class="container mapa col-4">
    <div class="form-group">
        <label class="encabezados">Datos contrato</label>
        <hr class="mt-0 mb-12">
        <div class="form-group col-3 mb-0">
            <a class="btn btn-outline-dark " href="{% url 'contratos' py.id %}">Regresar</a>
        </div>
        <br>
        <div class="container col-12">
            <div class="wrapper fadeInDown">
                <div id="formContent" style="text-align: right;">
                    <form action="" method="POST" style="text-align: left;" enctype="multipart/form-data"
                        onkeypress="return anular(event)">
                        {% csrf_token %}
                        <div class="row">
                            <div class="form-group col-md-4 mb-0" hidden>
                                {{ form.modo_pago|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-4 mb-0">
                                {{ form.fecha_contrato|as_crispy_field }}
                            </div>
                        {% if solicitud.modo_pago == 2 or solicitud.modo_pago == 4 %}
                            <div class="form-group col-md-4 mb-0">
                                {{ form.anio_inicio_pago|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-4 mb-0">
                                {{ form.mes_inicio_pago|as_crispy_field }}
                            </div>
                        {% else %}
                            <div class="form-group col-md-4 mb-0" hidden>
                                {{ form.anio_inicio_pago|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-4 mb-0" hidden>
                                {{ form.mes_inicio_pago|as_crispy_field }}
                            </div>
                        {% endif %}
                        </div>
                        <input id="btsub" name="btsub" type="submit" value="Guarda" class="btn btn-success">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function anular(e) {
        tecla = (document.all) ? e.keyCode : e.which;
        return (tecla != 13);
    }

    $(function () {
        $("#id_anio_inicio_pago").val(0);
        $("#id_mes_inicio_pago").val(0);
        $("#id_modo_pago").val("{{ solicitud.modo_pago }}");
        window.captureEvents(Event.SUBMIT);
        window.onsubmit = guarda;
        function guarda() {
            texto = "";
            if ($("#id_fecha_contrato").val() == "") {
                texto += "Seleccione una fecha, ";
            }
            if (($("#id_modo_pago").val() == 2) || ($("#id_modo_pago").val() == 4)) {
                if (($("#id_anio_inicio_pago").val() == 0) ||
                    ($("#id_mes_inicio_pago").val() == 0)) {
                    texto += "Falta año o mes para empezar a pagar";
                }
            }
            if (texto == "") {
                aviso("Aviso", "Guardado exitosamente");
                return true;
            } else {
                aviso("Error", texto);
                return false;
            }
        }
    });
</script>
{% endif %}
{% endfor %}
{% endblock %}