{% extends "core/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block blcss %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{{ form.media }}
{% endblock %}
{% block contenido %}
{% if perms.gestion.add_solicitud or perms.gestion.change_solicitud %}
{% for py in proyecto %}
<div class="container"> 
<label class="encabezados">{{ py.nombre }} - Solicitud</label><h3 style="float: right; margin-right: 25px; margin-top: 15px;">{{ accion }}</h3>
<hr class="mt-0 mb-4">
<a class="btn btn-outline-dark" href="{% url 'solicitudes' py.id %}">Regresar</a>
<div class="container col-12">
    <div class="wrapper fadeInDown">
        <div id="formContent" style="text-align: right;">
            <form action="" method="POST" style="text-align: left;" enctype="multipart/form-data"
                onkeypress="return anular(event)">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-8 mb-0">
                        {{ form.cliente|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-8 mb-0">

                        <label for="">
                            {% if py.id == 1 %}
                            Lotes
                            {% else %}
                            Local
                            {% endif %}
                        </label>
                        <select name="lote" id="lote_id" class="form-control">
                            <option value="0">---------</option>
                            {% for l in lote_cmb %}
                            <option value="{{ l.id }}">{{ l.combo_bien }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-8 mb-0">
                        <label for="">Asesores</label>
                        <select name="asesor" id="asesor_id" class="form-control">
                            <option value="0">---------</option>
                            {% for l in empleado_cmb %}
                            <option value="{{ l.id }}">{{ l.paterno }} {{ l.materno }} {{ l.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3 mb-0">
                        {{ form.precio_lote|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3 mb-0">
                        {{ form.descuento|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3 mb-0">
                        {{ form.precio_final|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3 mb-0">
                        {{ form.modo_pago|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3 mb-0" id="asigna">
                        {{ form.asigna_descuento|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3 mb-0" id="tipo_desc">
                        {{ form.tipo_descuento|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3 mb-0" id="porcentaje_desc">
                        {{ form.porcentaje_descuento|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3 mb-0">
                        {{ form.enganche|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3 mb-0">
                        {{ form.cantidad_pagos|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3 mb-0">
                        {{ form.importe_x_pago|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3 mb-0">
                        {{ form.foto_elector_frente|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-3 mb-0">
                        {{ form.foto_elector_reverso|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3 mb-0">
                        {{ form.foto_comprobante|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3 mb-0">
                        {{ form.foto_matrimonio|as_crispy_field }}
                    </div>
                </div>
                <div class="form-row" hidden>
                    <div class="form-group col-md-3 mb-0">
                        {{ form.estatus_solicitud|as_crispy_field }}
                    </div>
                </div>
                {% if perms.gestion.add_solicitud or perms.gestion.change_solicitud %}
                <input id="btsub" name="btsub" type="submit" value="Guarda" class="btn btn-success">
                {% endif %}
            </form>
            <br>
        </div>
    </div>
</div>
</div>
<script>

    function anular(e) {
        tecla = (document.all) ? e.keyCode : e.which;
        return (tecla != 13);
    }
    $(document).ready(function () {
        {% if sol %}
        {% for s in sol %}
        asesor_id = "{{ s.asesor.id }}";
        {% endfor %}
        {% else %}
        asesor_id = 0;
        {% endif %}
        if (asesor_id == 0) {
            f_emp = "{{ f_emp }}";
        } else {
            f_emp = asesor_id;
        }
        $("#asesor_id").val(f_emp).change();
    });
    $(function () {
        {% if sol %}
        {% for s in sol %}
        id_lote = "{{ s.lote.id }}";
        {% endfor %}
        {% else %}
        id_lote = 0;
        {% endif %}
        window.captureEvents(Event.SUBMIT);
        window.onsubmit = guarda;
        alert($("input:radio[name='asigna_descuento']:checked").val());
        alert($("input:radio[name='tipo_descuento']:checked").val());
        function accionTipoDescuento(opcion, ciclo) {
            if (opcion==0) {
                $("#id_descuento").prop('readonly',true);
                if ($("#id_asigna_descuento_0").is(':checked')) {
                    $("#id_porcentaje_descuento").prop('readonly',true);
                } else {
                    $("#id_porcentaje_descuento").prop('readonly',false);
                }
                $("#porcentaje_desc").show();
            } else {
                $("#id_descuento").prop('readonly',false);
                $("#id_porcentaje_descuento").prop('readonly',false);
                $("#porcentaje_desc").hide();
            }
            if (ciclo == 1) {
                $("#id_descuento").val(0);
                $("#id_porcentaje_descuento").val(0);
            }
            calcula();
        }
        function accionAsignaDescuento(opcion, ciclo) {
            if (opcion==0) {
                $("#tipo_desc").hide();
            } else {
                $("#tipo_desc").show();
            }
            if (ciclo == 1) {
                $("#id_tipo_descuento_0").prop('checked',true);

            }
            accionTipoDescuento(0, ciclo);
        }  
        function guarda() {
            texto = "";
            if ($("#lote_id").val() == 0 || $("#lote_id").val() == null) {
                texto += "Seleccione un lote, ";
            }
            if ($("#asesor_id").val() == 0) {
                texto += "Seleccione un Asesor, ";
            }
            if (($("#id_modo_pago").val() == 2 || $("#id_modo_pago").val() == 4)) {
                if (parseFloat($("#id_enganche").val()) <= 0) {
                    texto += "Teclee enganche, ";
                } else {
                    if ($("#id_modo_pago").val() == 4) {
                        mitad_precio = parseFloat($("#id_precio_lote").val()) / 2;
                        if (parseFloat($("#id_enganche").val()) < mitad_precio) {
//                            texto += "El enganche debe ser mayor o igual al 50% del valor del lote, ";
                        }
                    }
                }
                if ($("#id_cantidad_pagos").val() == '0') {
                    texto += "Teclee la cantidad de pagos, ";
                }
            }
            if (texto == "") {
                aviso("Aviso", "Guardado exitosamente");
            } else {
                aviso("Error", texto);
                return false;
            }
        }
        estatus_sol = parseInt($("#id_estatus_solicitud").val());
        //Si no es nueva o apartada no se modifica
        if (estatus_sol > 1) {
            $("#btub").hide();
        } else {
            if (estatus_sol == 0) {
                $("#id_estatus_lote").val();
            }
        }
        //  Alinear campos numericos
        $("#id_precio_lote").css("text-align", "right");
        $("#id_precio_final").css("text-align", "right");
        $("#id_enganche").css("text-align", "right");
        $("#id_importe_x_pago").css("text-align", "right");
        $("#id_cantidad_pagos").css("text-align", "right");
        $("#id_descuento").css("text-align", "right");
        $("#id_porcentaje_descuento").css("text-align", "right");
        $("#asigna").css("text-align", "center");

        // Campos de solo lectura
        $("#id_importe_x_pago").attr('readonly', 'true');
        $("#id_precio_lote").attr('readonly', 'true');
        $("#id_precio_final").attr('readonly', 'true');
        $("#id_descuento").attr('readonly', 'true');

        // Valor del campo combobox lote
        $("#lote_id").val(id_lote);
        $("#lote_id").val(id_lote).change();
        if ($("#lote_id").val() == 0 || $("#lote_id").val() == null) {
            $("#id_precio_final").val(0);
            $("#id_precio_lote").val(0);
        }
        // Cuando cambia tipo de descuento 0
        $("#id_tipo_descuento_0").on("change", function () {
            accionTipoDescuento(0,1);
            calcula();
        });
        // Cuando cambia tipo de descuento 1
        $("#id_tipo_descuento_1").on("change", function () {
            accionTipoDescuento(1,1);
            calcula();
        });
        // Cuando cambia descuento
        $("#id_descuento").on("keyup", function () {
            calcula();
        });
        // Cuando cambia porcentaje de descuento
        $("#id_porcentaje_descuento").on("keyup", function () {
            calcula();
        });
        // Cuando cambia valor de asignacion de porcentaje
//        $("#id_porcentaje_descuento").prop("readonly", !$("#id_asigna_descuento").is(':checked'));
/*        if ($("#id_asigna_descuento_0").is(':checked')) {
            accionAsignaDescuento(0,0);
        } else {
            accionAsignaDescuento(1,0);
        }  */
        $("#id_asigna_descuento_0").on("change", function () {
            accionAsignaDescuento(0,1);
        });
        $("#id_asigna_descuento_1").on("change", function () {
            accionAsignaDescuento(1,1);
        });

        // Cuando cambia valor enganche
        $("#id_enganche").on("keyup", function () {
            calcula();
        });
        // Cuando cambia valor cantidad de pagos
        $("#id_cantidad_pagos").on("keyup", function () {
            calcula();
        });
        // Oculta/Muestra campos si hay pago de contado
        if (parseFloat($("#id_modo_pago").val()) == 1 || parseFloat($("#id_modo_pago").val()) == 3) {
            $("#div_id_enganche").hide();
            $("#div_id_cantidad_pagos").hide();
            $("#div_id_importe_x_pago").hide();
        } else {
            $("#div_id_enganche").show();
            $("#div_id_cantidad_pagos").show();
            $("#div_id_importe_x_pago").show();
        }
        // Cuando cambia valor combobox modo de pago
        $("#id_modo_pago").on("change", function () {
            if (parseFloat($("#id_modo_pago").val()) == 1 || parseFloat($("#id_modo_pago").val()) == 3) {
                $("#div_id_enganche").hide();
                $("#div_id_cantidad_pagos").hide();
                $("#div_id_importe_x_pago").hide();
            } else {
                $("#div_id_enganche").show();
                $("#div_id_cantidad_pagos").show();
                $("#div_id_importe_x_pago").show();
            }
            $("#id_descuento").val(0);
            $("#id_precio_final").val(0);
            $("#id_enganche").val(0);
            $("#id_cantidad_pagos").val(0);
            $("#id_importe_x_pago").val(0);
            calcula();
        });
        // Funcion para calcular el importe por cada pago
        function calcula() {
            if ($("#id_tipo_descuento_0").is(':checked')) {
                tipo_descuento = 0;
            } else {
                tipo_descuento = 1;
            }
            descuento = parseFloat($("#id_descuento").val()).toFixed(2);
            modo_pago = parseFloat($("#id_modo_pago").val());
            enganche = parseFloat($("#id_enganche").val()).toFixed(2);
            cantidad_pagos = parseFloat($("#id_cantidad_pagos").val()).toFixed(2);
            precio_lote = parseFloat($("#id_precio_lote").val()).toFixed(2);
            precio_final = parseFloat($("#id_precio_final").val()).toFixed(2);
            precio_final_s_enganche = precio_final - enganche;
            if ($("#id_porcentaje_descuento").val() == "") {
                    $("#id_porcentaje_descuento").val(0);
                    porcentaje_descuento = 0;
                } else {
                    porcentaje_descuento = parseFloat((parseFloat($("#id_porcentaje_descuento").val()).toFixed(2))/100).toFixed(2);
                }
            if ($("#id_asigna_descuento_1").is(':checked')) {
                if (precio_lote > 0 && (porcentaje_descuento > 0 || descuento > 0)) {
                    if (tipo_descuento == 0) {
                        descuento = Math.ceil(parseFloat((precio_lote * porcentaje_descuento))).toFixed(2);
                        $("#id_descuento").val(descuento);
                    }
                    precio_final = parseFloat(precio_lote - descuento).toFixed(2);
                    $("#id_precio_final").val(precio_final);
                    if (cantidad_pagos > 0) {
                        monto_x_pago = Math.ceil(parseFloat((precio_final - enganche) / (cantidad_pagos))).toFixed(2);
                    } else {
                        monto_x_pago = 0;
                    }
                    $("#id_importe_x_pago").val(monto_x_pago);
                } else {
                    $("#id_precio_final").val(precio_lote);
                    precio_final = precio_lote;
                    $("#id_descuento").val(0);
                    if (cantidad_pagos > 0) {
                        monto_x_pago = Math.ceil(parseFloat((precio_final - enganche) / (cantidad_pagos))).toFixed(2);
                    } else {
                        monto_x_pago = 0;
                    }
                    $("#id_importe_x_pago").val(monto_x_pago);
                }
            } else {
                $("#id_porcentaje_descuento").val(0);
                if ((parseInt(modo_pago) == 2 || parseInt(modo_pago) == 4) && (parseFloat(precio_lote) > 0)) {
                    precio_30 = Math.ceil(parseFloat((precio_lote * 0.30))).toFixed(2);
                    precio_50 = Math.ceil(parseFloat((precio_lote * 0.50))).toFixed(2);
                    if (parseFloat(enganche) >= parseFloat(precio_50)) {
                        if (parseInt(modo_pago) == 2) {
                            precio_final = Math.ceil(parseFloat((precio_lote * 0.95))).toFixed(2);
                            $("#id_porcentaje_descuento").val(5);
                        } else {
                            precio_final = Math.ceil(parseFloat((precio_lote * 0.925))).toFixed(2);
                            $("#id_porcentaje_descuento").val(7.5);
                        }
                    } else {
                        if (parseInt(modo_pago) == 2) {
                            if (parseFloat(enganche) >= (parseFloat(precio_30))) {
                                precio_final = Math.ceil(parseFloat((precio_lote * 0.97))).toFixed(2);
                                $("#id_porcentaje_descuento").val(3)
                            } else {
                                precio_final = precio_lote;
                            }
                        } else {
                            precio_final = precio_lote;
                            $("#id_porcentaje_descuento").val(0)
                        }
                    }
                    $("#id_precio_final").val(precio_final);
                    descuento = parseFloat((precio_lote - precio_final)).toFixed(2);
                    $("#id_descuento").val(descuento);
                    if (parseInt(cantidad_pagos) > 0) {
                        monto_x_pago = Math.ceil(parseFloat((precio_final - enganche) / (cantidad_pagos))).toFixed(2);
                        $("#id_importe_x_pago").val(monto_x_pago);
                    } else {
                        $("#id_importe_x_pago").val(0);
                    }
                } else {
                    if ((parseInt(modo_pago) == 1 || parseInt(modo_pago) == 3) && (parseInt(precio_lote) > 0)) {
                        precio = parseFloat($("#id_precio_lote").val()).toFixed(2);
                        if (precio > 0) {
                            importe = Math.ceil(parseFloat((precio * 0.925))).toFixed(2);
                            $("#id_precio_final").val(importe);
                            $("#id_porcentaje_descuento").val(7.5)
                        } else {
                            $("#id_precio_final").val(0);
                        }
                        descuento = parseFloat((precio - importe)).toFixed(2);
                        $("#id_descuento").val(descuento);
                        $("#id_enganche").val(0);
                        $("#id_cantidad_pagos").val(0);
                        $("#id_importe_x_pago").val(0);

                    } else {
                        if ($("#lote_id").val() == 0) {
                            $("#id_enganche").val(0);
                            $("#id_cantidad_pagos").val(0);
                            $("#id_importe_x_pago").val(0);
                            $("#id_precio_final").val(0);
                        }
                    }
                    if (parseInt(modo_pago) == 3) {
                        $("#id_importe_x_pago").val(0);
                        if (parseInt(cantidad_pagos) > 0) {
                            monto_x_pago = Math.ceil(parseFloat((precio_final - enganche) / (cantidad_pagos))).toFixed(2);
                            $("#id_importe_x_pago").val(monto_x_pago);
                        }
                    }
                }
            }
        }
        //  Cuando cambia el combobox lotes
        $("#lote_id").on("change", function () {
            // Armado del objeto lotes de python a javascript
            opcion = parseInt($("#lote_id").val());
            modo_pago = parseInt($("#id_modo_pago").val());
            {% for l in lote_cmb %}
            id_lote = "{{ l.id }}";
            if (parseInt(opcion) == parseInt(id_lote)) {
                id_precio = "{{ l.precio }}";
                precio = id_precio.replaceAll(",", "");
                $("#id_precio_lote").val(precio);
            }
            {% endfor %}
            if ($("#lote_id").val() == 0 || $("#lote_id").val() == "") {
                $("#id_precio_final").val(0);
                $("#id_precio_lote").val(0);
            }
            $("#id_descuento").val(0);
            $("#id_precio_final").val(0);
            $("#id_enganche").val(0);
            $("#id_cantidad_pagos").val(0);
            $("#id_importe_x_pago").val(0);
            $("#id_estatus_solicitud").val(1);
            calcula();
        });
    });
</script>
{% endfor %}
{% endif %}
{% endblock %}