{% extends "core/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block blcss %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{{ form.media }}
<style>
    .file-select {
        position: relative;
        display: inline-block;
    }

    .file-select::before {
        background-color: transparent;
        color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
        content: 'Seleccionar';
        /* testo por defecto */
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    .file-select input[type="file"] {
        opacity: 0;
        width: 200px;
        height: 32px;
        display: inline-block;
    }
</style>
{% endblock %}
{% block contenido %}
{% if app_proy_compromiso %}
{% for py in proyecto_tb %}
<div class="container col-12" style="width: 850px;">
    <label class="encabezados">{{ py.nombre }} - Compromiso de la solicitud {{ pk }}</label><br>
    <hr class="mt-0 mb-4">
    <a class="btn btn-outline-dark" href="{% url 'compromisos' py.id %}">Regresar</a>
    <div class="container col-12">
        <div class="wrapper fadeInDown">
            {% for s in sol %}
            <br>
            <input type="text" value="{{ s.foto_comprobante_apartado }}" id="foto_comprobante_apartado" hidden>
            <input type="text" value="{{ s.foto_comprobante_pago_adicional }}" id="foto_comprobante_pago_adicional" hidden>
            <input type="text" value="{{ s.lote.estatus_lote }}" id="id_estatus_lote" hidden>
            <input type="text" value="{{ s.modo_pago }}" id="id_modo_pago" hidden>
            <input type="text" value="{{ s.precio_final }}" id="id_precio_final" hidden>
            <input type="text" value="{{ s.enganche }}" id="id_enganche" hidden>
            <div id="formContent" style="text-align: right;">
                <div class="form-row">
                    <div class="form-group col-8" style="text-align: left;">
                        <label>Cliente</label>
                        <div class="form-group form-control">
                            {{ s.cliente }}
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-8" style="text-align: left;">
                        <label>Lote</label>
                        <div class="form-group form-control">
                            {{ s.lote }}
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-8" style="text-align: left;">
                        <label>Asesor</label>
                        <div class="form-group form-control">
                            {{ s.asesor }}
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-3" style="text-align: left;">
                        <label>Precio</label>
                        <div class="form-group form-control" style="text-align: right;">
                            {{ s.precio_lote }}
                        </div>
                    </div>
                    <div class="form-group col-3" style="text-align: left;">
                        <label>Descuento</label>
                        <div class="form-group form-control" style="text-align: right;">
                            {{ s.descuento }}
                        </div>
                    </div>
                    <div class="form-group col-3" style="text-align: left;">
                        <label>Precio final</label>
                        <div class="form-group form-control" style="text-align: right;">
                            {{ s.precio_final }}
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-3" style="text-align: left;">
                        <label>Modo de pago</label>
                        <div class="form-group form-control">
                            {{ s.get_modo_pago_display }}
                        </div>
                    </div>
                    <div class="form-group col-3" style="text-align: left;">
                        <label>% descuento</label>
                        <div class="form-group form-control" style="text-align: right;">
                            {{ s.porcentaje_descuento }}
                        </div>
                    </div>
                </div>
                <div class="form-row" id="credito">
                    <div class="form-group col-3" style="text-align: left;">
                        <label>Enganche</label>
                        <div class="form-group form-control" style="text-align: right;">
                            {{ s.enganche }}
                        </div>
                    </div>
                    <div class="form-group col-3" style="text-align: left;">
                        <label>Mensualidades</label>
                        <div class="form-group form-control" style="text-align: right;">
                            {{ s.cantidad_pagos }}
                        </div>
                    </div>
                    <div class="form-group col-3" style="text-align: left;">
                        <label>Pago mensual</label>
                        <div class="form-group form-control" style="text-align: right;">
                            {{ s.importe_x_pago }}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div>
                <form id="for-sol" name="for-sol" action="" method="POST" style="text-align: left;"
                    enctype="multipart/form-data" onkeypress="return anular(event)">
                    {% csrf_token %}
                    <hr id="bloque_apartado4">
                    <h4 style="font-style: italic;" id="bloque_apartado5">Apartado</h4>
                    <div class="form-row" id="bloque_apartado1">
                        <div class="form-group col-3" id="gpo_apartado">
                            {{ form.apartado|as_crispy_field }}
                        </div>
                        <div class="form-group col-3" id="gpo_confirmacion_apartado"
                        {% if not app_proy_confirma_deposito_pago %}
                            hidden
                        {% endif %}
                        >
                            {{ form.confirmacion_apartado|as_crispy_field }}
                        </div>
                        <div class="form-group col-3" id="gpo_confirmacion_apartado1">
                            <label for="confirmacion_apartado1">Depósito</label>
                            <input class="form-control" name="confirmacion_apartado1" id="id_confirmacion_apartado1"
                                readonly>
                        </div>
                        <div class="form-group col-3" id="gpo_confirmacion_apartado" style="text-align: center;">
                            {% if app_proy_imp_pago_compromiso %}
                            <label for="btn_recibo"> </label><br>
                            <button id="btn_recibo" class="btn btn-outline-dark"
                                onclick="imprime('parcial')">Imprimir</button>
                            {% endif %}
                            <input id="id_btsubapartado" name="btsubapartado" type="submit" value="Guarda"
                                class="btn btn-success">
                        </div>
                    </div>
                    <div class="form-row" id="bloque_apartado2">
                        <div class="form-group col-3" id="gpo_forma_pago_apa">
                            {{ form.forma_pago_apa|as_crispy_field }}
                        </div>
                        <div class="form-group col-3" id="gpo_forma_pago_apa1">
                            <label for="id_forma_pago_apa1">Forma pago</label>
                            <input type="text" name="id_forma_pago_apa1" id="id_forma_pago_apa1" readonly
                                class="form-control">
                        </div>
                        <div class="form-group col-3" id="gpo_cuenta_apa">
                            {{ form.cuenta_apa|as_crispy_field }}
                        </div>
                        <div class="form-group col-3" id="gpo_numero_comprobante">
                            {{ form.numero_comprobante_apa|as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-row" id="bloque_apartado3">
                        <div class="form-group col-3" id="gpo_comprobante_apartado">
                            {{ form.foto_comprobante_apartado }}
                        </div>
                    </div>
                    <hr>
                    <h4 style="font-style: italic;">Pago adicional</h4>
                    <div class="form-row">
                        <div class="form-group col-3">
                            {{ form.pago_adicional|as_crispy_field }}
                        </div>
                        <div class="form-group col-3" id="gpo_confirmacion_pago_adicional"
                        {% if not app_proy_confirma_deposito_pago %}
                            hidden
                        {% endif %}
                        >
                            {{ form.confirmacion_pago_adicional|as_crispy_field }}
                        </div>
                        <div class="form-group col-3" id="gpo_confirmacion_pago_adicional1">
                            <label for="confirmacion_pago_adicional1">Depósito</label>
                            <input class="form-control" name="confirmacion_pago_adicional1"
                                id="id_confirmacion_pago_adicional1" readonly>
                        </div>
                        <div class="form-group col-3">
                            <label for="id_diferencia">Por pagar</label>
                            <input class="form-control" name="diferencia" id="diferencia" readonly>
                        </div>
                        <div class="form-group col-3" style="text-align: center;">
                            {% if app_proy_imp_pago_compromiso %}
                            <label for="btn_adicional"> </label><br>
                            <button id="btn_adicional" class="btn btn-outline-dark"
                                onclick="imprime('total')">Imprimir</button>
                            {% endif %}
                            <input id="id_btsubpa" name="btsubpa" type="submit" value="Guarda" 
                                class="btn btn-success">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-3" id="gpo_forma_pago_pa">
                            {{ form.forma_pago_pa|as_crispy_field }}
                        </div>
                        <div class="form-group col-3" id="gpo_forma_pago_pa1">
                            <label for="id_forma_pago_pa1">Forma pago</label>
                            <input type="text" name="id_forma_pago_pa1" id="id_forma_pago_pa1" readonly
                                class="form-control">
                        </div>
                        <div class="form-group col-3" id="gpo_cuenta_pa">
                            {{ form.cuenta_pa|as_crispy_field }}
                        </div>
                        <div class="form-group col-3" id="gpo_numero_comprobante_pa">
                            {{ form.numero_comprobante_pa|as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-3" id="gpo_foto_comprobante_pago_adicional">
                            {{ form.foto_comprobante_pago_adicional|as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-1 mb-0" hidden>
                            {{ form.precio_final }}
                        </div>
                        <div class="form-group col-md-1 mb-0" hidden>
                            {{ form.lote }}
                        </div>
                        <div class="form-group col-md-8 mb-0" hidden>
                            {{ form.estatus_solicitud }}
                        </div>
                        <div class="form-group col-md-8 mb-0" hidden>
                            {{ form.num_contrato }}
                        </div>
                        <div class="form-group col-1">
                            <input type="number" class="form-control" name="paga" id="paga" hidden>
                        </div>
                    </div>
                </form>
            </div>
            <div style="text-align: center;">

            </div>
            <br>
        </div>
    </div>
    <script>
        function anular(e) {
            tecla = (document.all) ? e.keyCode : e.which;
            return (tecla != 13);
        }
        {% if app_proy_imp_pago_compromiso %}
        function imprime(dato) {
            window.open("/gestion/reciboPDF/" + "{{ pk }}" + "/" + dato + "/",
                "Recibo", target = "_blank");
        }
        {% endif %}
        $(document).ready(function () {
            var texto = "";
            var guarda = true;
            window.captureEvents(Event.SUBMIT);
            window.onsubmit = func_guardar;
            function func_guardar() {
                if (guarda == false) {
                    aviso("Error al guardar", texto);
                } 
                return guarda;
            }
            var id_diferencia = 0;
            //  Alinear campos numericos
            $("#id_apartado").css("text-align", "right");
            $("#id_pago_adicional").css("text-align", "right");
            $("#diferencia").css("text-align", "right");

            $('#gpo_confirmacion_apartado1').hide();
            $('#gpo_forma_pago_apa1').hide();
            $('#id_btsubapartado').hide();

            $('#gpo_confirmacion_pago_adicional1').hide();
            $('#gpo_forma_pago_pa1').hide();
            $('#id_btsubpa').hide();

            //  Poner ceros en campos vacios
            if ($("#id_apartado").val() == "") { $("#id_apartado").val(0.00) }
            if ($("#id_pago_adicional").val() == "") { $("#id_apartado").val(0.00) }
            //  Asignacion de valores            
            var id_modo_pago = parseInt($("#id_modo_pago").val());
            var id_estatus_lote = parseInt($("#id_estatus_lote").val());
            var id_estatus_solicitud = parseInt($("#id_estatus_solicitud").val());
            //  Precio Final
            var id_precio_final = $("#id_precio_final").val();
            id_precio_final = parseFloat(id_precio_final.replace(",", "").replace(",", ""))
            id_precio_final = parseFloat(id_precio_final);
            //  Enganche
            var id_enganche = $("#id_enganche").val();
            if (id_enganche == "") { id_enganche = 0; } else { id_enganche = id_enganche.replace(",", "").replace(",", "") }
            id_enganche = parseFloat(id_enganche);
            //  Apartado
            var id_apartado = parseFloat($("#id_apartado").val());
            //  Pago adicional
            var id_pago_adicional = parseFloat($("#id_pago_adicional").val());
            //  Calcular diferencia
            calcula_diferencia();
            function calcula_diferencia() {
                if ($("#id_apartado").val().trim() == "") {
                    id_apartado = 0;
                } else {
                    id_apartado = parseFloat($("#id_apartado").val());
                }
                if ($("#id_pago_adicional").val().trim() == "") {
                    id_pago_adicional = 0;
                } else {
                    id_pago_adicional = parseFloat($("#id_pago_adicional").val());
                }
//                id_pago_adicional = parseFloat($("#id_pago_adicional").val());
                if (id_modo_pago == "1") {
                    id_diferencia = id_precio_final - id_apartado - id_pago_adicional;
                } else {
                    id_diferencia = id_enganche - id_apartado - id_pago_adicional;
                }
                $("#diferencia").val(id_diferencia.toFixed(2));
            }
            //  Oculta campos credito si es contado
            if (id_modo_pago == 1) {
                $("#credito").hide();
            }
            if ($('#id_confirmacion_apartado').val() == 2) {
                $("#btn_recibo").show();
                proteje_apartado();
            } else {
                $("#btn_recibo").hide();
                if (id_apartado > 0) {
                    inicia_pago_adicional();
                    proteje_adicional();
                }
            }
            if ($("#id_confirmacion_pago_adicional").val() == 2) {
                proteje_apartado();
                proteje_adicional();
                $("#btn_adicional").show();
            } else {
                $("#btn_adicional").hide();
                if (id_pago_adicional > 0) {
                    proteje_apartado();
                }
            }
            //  Inicia campos apartado
            function inicia_apartado() {
                $("#id_apartado").val(0.00);
                id_apartado = 0;
                //                $("#id_confirmacion_apartado").val(0);
                $("#id_forma_pago_apa").val(0);
                $('#id_cuenta_apa').val('');
                $("#id_confirmacion_apartado").val(0);
                $('#id_numero_comprobante_apa').val('');
                $("#id_foto_comprobante_apartado").val('');
                $("#id_btsubapartado").hide();
            }

//  Inicia campos apartado
            function inicia_pago_adicional() {
                $("#id_pago_adicional").val(0.00);
                id_pago_adicional = 0;
//                $("#id_confirmacion_pago_adicional").val(0);
                $("#id_forma_pago_pa").val(0);
                $("#id_confirmacion_pago_adicional").val(0);
                $('#id_cuenta_pa').val('');
                $('#id_numero_comprobante_pa').val('');
                $("#id_foto_comprobante_pago_adicional").val('');
                $("#id_btsubpa").hide();
            }

            function proteje_apartado() {
                $('#id_apartado').attr('readonly', true);
                $("#id_confirmacion_apartado1").val(
                    $('select[name="confirmacion_apartado"] option:selected').text());
                $("#gpo_confirmacion_apartado").hide();
                $("#gpo_confirmacion_apartado1").show();
                $("#id_forma_pago_apa1").val(
                    $('select[name="forma_pago_apa"] option:selected').text());
                $("#gpo_forma_pago_apa").hide();
                $("#gpo_forma_pago_apa1").show();
                $('#id_cuenta_apa').attr('readonly', true);
                $('#id_numero_comprobante_apa').attr('readonly', true);
                document.getElementById("id_foto_comprobante_apartado").disabled = true;
                $("#id_btsubapartado").hide();
            }

            function proteje_adicional() {
                $('#id_pago_adicional').attr('readonly', true);
                $("#id_confirmacion_pago_adicional1").val(
                    $('select[name="confirmacion_pago_adicional"] option:selected').text());
                $('#gpo_confirmacion_pago_adicional').hide();
                $('#gpo_confirmacion_pago_adicional1').show();
                $("#id_forma_pago_pa1").val(
                    $('select[name="forma_pago_pa"] option:selected').text());
                $('#gpo_forma_pago_pa').hide();
                $('#gpo_forma_pago_pa1').show();
                $('#id_cuenta_pa').attr('readonly', true);
                $('#id_numero_comprobante_pa').attr('readonly', true);
                document.getElementById("id_foto_comprobante_pago_adicional").disabled = true;
                $("#id_btsubpa").hide();
            }

            function oculta_apartado() {
                $("#bloque_apartado1").hide();
                $("#bloque_apartado2").hide();
                $("#bloque_apartado3").hide();
                $("#bloque_apartado4").hide();
                $("#bloque_apartado5").hide();
            }

            //  Cuando cambia valor en el bloque de apartado
            $("#id_apartado").on("keyup", function () {
                apartado();
            });
            $("#id_apartado").on("change", function () {
                apartado();
            });
            $("#id_confirmacion_apartado").on("change", function () {
                apartado();
            });
            $("#id_forma_pago_apa").on("change", function () {
                apartado();
            });
            $("#id_cuenta_apa").on("keyup", function () {
                if ($("#id_cuenta_apa").val().length > 4) {
                    $("#id_cuenta_apa").val($("#id_cuenta_apa").val().substr(0, 4));
                }
                apartado();
            });
            $("#id_cuenta_apa").on("change", function () {
                apartado();
            });
            $("#id_numero_comprobante_apa").on("keyup", function () {
                apartado();
            });
            $("#id_numero_comprobante_apa").on("change", function () {
                apartado();
            });
            $("#id_foto_comprobante_apartado").on("change", function () {
                apartado();
            });
            function apartado() {
                $("#id_btsubapartado").show();
                $("#id_btsubpa").hide();
                inicia_pago_adicional();
                calcula_diferencia();
                guarda = true;
                texto = "";
                if ($("#id_forma_pago_apa").val() == 3) {
                    $("#id_cuenta_apa").val("").attr("readonly", true);
                    $("#id_numero_comprobante_apa").val("").attr("readonly", true);
                } else {
                    if (($("#id_forma_pago_apa").val() == 1) || ($("#id_forma_pago_apa").val() == 2)) {
                        $("#id_cuenta_apa").attr("readonly", false);
                        $("#id_numero_comprobante_apa").attr("readonly", false);
                        if ($("#id_cuenta_apa").val().trim() == "") {
                            texto += "Falta número de cuenta, ";
                            guarda = false;
                        }
                        if ($("#id_numero_comprobante_apa").val().trim() == "") {
                            texto += "Falta número de comprobante, ";
                            guarda = false;
                        }
                    } else {
                        texto += "Falta forma de pago, ";
                        guarda = false;
                    }
                }
                if ($("#id_foto_comprobante_apartado").val().trim() == "") {
                    if ($('#foto_comprobante_apartado').val().trim() == "") {
                        texto += "Falta imagen comprobante, ";
                        guarda = false;
                    }
                }
                if (id_apartado < 50000) {
                    texto += "El importe del apartado debe ser mayor igual a 50,000.00, ";
                    guarda = false;
                }
                if ($("#id_confirmacion_apartado").val() == 2) {
                    $('#id_estatus_lote').val(2);
                    $('#id_estatus_solicitud').val(2);
                } else {
                    $('#id_estatus_lote').val(1);
                    $('#id_estatus_solicitud').val(1);
                }
                $('#id_estatus_solicitud').change();
                if (guarda == false) {
//                    aviso("Error al guardar", texto);
                }
            }

            //  Cuando se modifica el bloque de pago adicional
            $("#id_pago_adicional").on("keyup", function () {
                adicional()
            });
            $("#id_pago_adicional").on("change", function () {
                adicional()
            });
            $("#id_confirmacion_pago_adicional").on("change", function () {
                adicional();
            });
            $("#id_forma_pago_pa").on("change", function () {
                adicional()
            });
            $("#id_cuenta_pa").on("keyup", function () {
                if ($("#id_cuenta_pa").val().length > 4) {
                    $("#id_cuenta_pa").val($("#id_cuenta_pa").val().substr(0, 4));
                }
                adicional()
            });
            $("#id_cuenta_pa").on("change", function () {
                adicional()
            });
            $("#id_numero_comprobante_pa").on("keyup", function () {
                adicional()
            });
            $("#id_numero_comprobante_pa").on("change", function () {
                adicional()
            });
            $("#id_foto_comprobante_pago_adicional").on("change", function () {
                adicional()
            });
            function adicional() {
                $("#id_btsubapartado").hide();
                $("#id_btsubpa").show();
                if (!$('#id_apartado').attr('readonly')) {
//                if ($("#id_confirmacion_apartado").val() == 1) {
                    inicia_apartado();
                }
                calcula_diferencia();
                guarda = true;
                texto = "";
                if ($("#id_forma_pago_pa").val() == 3) {
                    $("#id_cuenta_pa").val("").attr("readonly", true);
                    $("#id_numero_comprobante_pa").val("").attr("readonly", true);
                } else {
                    if (($("#id_forma_pago_pa").val() == 1) || ($("#id_forma_pago_pa").val() == 2)) {
                        $("#id_cuenta_pa").attr("readonly", false);
                        $("#id_numero_comprobante_pa").attr("readonly", false);
                        if ($("#id_cuenta_pa").val().trim() == "") {
                            guarda = false;
                            texto += " Falta número de cuenta, ";
                        }
                        if ($("#id_numero_comprobante_pa").val().trim() == "") {
                            guarda = false;
                            texto += " Falta número de comprobante, ";
                        }
                    } else {
                        guarda = false;
                        texto += " Falta forma de pago, ";
                    }
                }
                if ($("#id_foto_comprobante_pago_adicional").val().trim() == "") {
                    if ($("#foto_comprobante_pago_adicional").val().trim() == "") {
                        guarda = false;
                        texto += " Falta imagen comprobante, "
                    }
                }
                if (id_diferencia > 0) {
                    guarda = false;
                    texto += " El importe del pago adicional, no coincide con el importe por pagar";
                }
                if ($("#id_confirmacion_pago_adicional").val() == 2) {
                    $('#id_estatus_lote').val(3);
                    $('#id_estatus_solicitud').val(3);
                } else {
                    if ($("#id_confirmacion_apartado").val() == 2) {
                        $('#id_estatus_lote').val(2);
                        $('#id_estatus_solicitud').val(2);
                    } else {
                        $('#id_estatus_lote').val(1);
                        $('#id_estatus_solicitud').val(1);
                    }
                }
                $('#id_estatus_solicitud').change();
                if (guarda == false) {
//                    aviso('Error al guardar', texto);
                }
            }
            if ($("#id_forma_pago_apa").val() == 3) {
                    $("#id_cuenta_apa").val("").attr("readonly", true);
                    $("#id_numero_comprobante_apa").val("").attr("readonly", true);
            }
            if ($("#id_forma_pago_pa").val() == 3) {
                $("#id_cuenta_pa").val("").attr("readonly", true);
                $("#id_numero_comprobante_pa").val("").attr("readonly", true);
            }
        });
    </script>
    {% endfor %}
    {% endif %}
    {% endblock %}