{% extends "core/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block blcss %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{{ form.media }}
{% endblock %}
{% block contenido %}
{% if app_proy_compromiso %}
{% for py in proyecto_tb %}
<div class="container col-12" style="width: 650px;">
    <h1 class="mt-2">Compromiso</h1>
    <hr class="mt-0 mb-4">
    <a class="btn btn-outline-dark" href="{% url 'compromisos' py.id %}">Regresar</a>
    <div class="container col-12">
        <div class="wrapper fadeInDown">
            {% for s in sol %}
            <br>
            <input type="text" value="{{ s.lote.estatus_lote }}" id="id_estatus_lote" hidden>
            <input type="text" value="{{ s.estatus_solicitud }}" id="id_estatus_solicitud" hidden>
            <input type="text" value="{{ s.modo_pago }}" id="id_modo_pago" hidden>
            <input type="text" value="{{ s.precio_final }}" id="id_precio_final" hidden>
            <input type="text" value="{{ s.enganche }}" id="id_enganche" hidden>
            <div id="formContent" style="text-align: right;">
                <div class="form-row">
                    <div class="form-group col-8" style="text-align: left;">
                        <label>Cliente</label>
                        <div class="form-group form-control">
                            {{ s.cliente }}
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-8" style="text-align: left;">
                        <label>Lote</label>
                        <div class="form-group form-control">
                            {{ s.lote }}
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-8" style="text-align: left;">
                        <label>Asesor</label>
                        <div class="form-group form-control">
                            {{ s.asesor }}
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-3" style="text-align: left;">
                        <label>Precio</label>
                        <div class="form-group form-control" style="text-align: right;">
                            {{ s.precio_lote }}
                        </div>
                    </div>
                    <div class="form-group col-3" style="text-align: left;">
                        <label>Descuento</label>
                        <div class="form-group form-control" style="text-align: right;">
                            {{ s.descuento }}
                        </div>
                    </div>
                    <div class="form-group col-3" style="text-align: left;">
                        <label>Precio final</label>
                        <div class="form-group form-control" style="text-align: right;">
                            {{ s.precio_final }}
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-3" style="text-align: left;">
                        <label>Modo de pago</label>
                        <div class="form-group form-control">
                            {{ s.get_modo_pago_display }}
                        </div>
                    </div>
                    <div class="form-group col-3" style="text-align: left;">
                        <label>% descuento</label>
                        <div class="form-group form-control" style="text-align: right;">
                            {{ s.porcentaje_descuento }}
                        </div>
                    </div>
                </div>
                <div class="form-row" id="credito">
                    <div class="form-group col-3" style="text-align: left;">
                        <label>Enganche</label>
                        <div class="form-group form-control" style="text-align: right;">
                            {{ s.enganche }}
                        </div>
                    </div>
                    <div class="form-group col-3" style="text-align: left;">
                        <label>Mensualidades</label>
                        <div class="form-group form-control" style="text-align: right;">
                            {{ s.cantidad_pagos }}
                        </div>
                    </div>
                    <div class="form-group col-3" style="text-align: left;">
                        <label>Pago mensual</label>
                        <div class="form-group form-control" style="text-align: right;">
                            {{ s.importe_x_pago }}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div>
                <form id="for-sol" name="for-sol" action="" method="POST" style="text-align: left;"
                    enctype="multipart/form-data" onkeypress="return anular(event)">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-3" id="gpo_apartado">
                            {{ form.apartado|as_crispy_field }}
                        </div>
                        <div class="form-group col-3" id="gpo_confirmacion_apartado">
                            {{ form.confirmacion_apartado|as_crispy_field }}
                        </div>
                        <div class="form-group col-3">
                            {{ form.pago_adicional|as_crispy_field }}
                        </div>
                        <div class="form-group col-3" id="gpo_confirmacion_pago_adicional">
                            {{ form.confirmacion_pago_adicional|as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-3">
                            <label for="id_diferencia">Por pagar</label>
                            <input class="form-control" name="diferencia" id="diferencia">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-1 mb-0" hidden>
                            {{ form.lote|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-1 mb-0" hidden>
                            {{ form.precio_final|as_crispy_field }}
                        </div>
                        <div class="form-group col-1">
                            <input type="number" class="form-control" name="paga" id="paga" hidden>
                        </div>
                    </div>
                    <input id="btsub" name="btsub" type="submit" value="Guarda" class="btn btn-success">
                </form>
            </div>
            {% if app_proy_imp_pago_compromiso %}
            <div style="text-align: center;">
                <button id="btn_recibo" class="btn btn-outline-dark" onclick="imprime('parcial')">Imprime
                    apartado</button>
                <button id="btn_adicional" class="btn btn-outline-dark" onclick="imprime('total')">Imprime pago
                    adicional</button>
            </div>
            {% endif %}
            <br>
        </div>
    </div>
    <script>
        function anular(e) {
            tecla = (document.all) ? e.keyCode : e.which;
            return (tecla != 13);
        }
        function imprime(dato) {
            window.open("/gestion/reciboPDF/" + "{{ pk }}" + "/" + dato + "/",
                "Recibo", target = "_blank");
        }
        $(document).ready(function () {
            {% if not app_proy_pago_compromiso %}
            $("label[for='id_apartado']").hide();
            $("label[for='id_pago_adicional']").hide();
            $("#id_apartado").hide();
            $("#id_pago_adicional").hide();
            {% endif %}
            {% if not app_proy_confirma_deposito_pago %}
            $("label[for='id_confirmacion_apartado']").hide();
            $("label[for='id_confirmacion_pago_adicional']").hide();
            $("#id_confirmacion_apartado").hide();
            $("#id_confirmacion_pago_adicional").hide();
            {% endif %}

//          Asignacion de valores            
            id_modo_pago = parseInt($("#id_modo_pago").val());
//            if (id_modo_pago == "") { id_modo_pago = 0; }
            id_estatus_lote = parseInt($("#id_estatus_lote").val());
//            if (id_estatus_lote == "") { id_estatus_lote = 0; }
            id_estatus_solicitud = parseInt($("#id_estatus_solicitud").val());
//            if (id_estatus_solicitud == "") { id_estatus_solicitud = 0; }
            id_precio_final = $("#id_precio_final").val();
            if (id_precio_final == "") { id_precio_final = 0; } else { id_precio_final = id_precio_final.replace(",", "").replace(",", "") }
            id_precio_final = parseFloat(id_precio_final);
            id_enganche = $("#id_enganche").val();
            if (id_enganche == "") { id_enganche = 0; } else { id_enganche = id_enganche.replace(",", "").replace(",", "") }
            id_enganche = parseFloat(id_enganche);
            id_apartado = parseFloat($("#id_apartado").val());
//            if (id_apartado == "") { id_apartado = 0; } else { id_apartado = id_apartado.replace(",", "").replace(",", "") }
//            id_apartado = parseFloat(id_apartado);
            id_pago_adicional = parseFloat($("#id_pago_adicional").val());
//          Calcular diferencia
//            if (id_modo_pago == "1" || id_modo_pago == "3") {
            if (id_modo_pago == "1") {
                id_diferencia = id_precio_final - id_apartado - id_pago_adicional;
            } else {
                id_diferencia = id_enganche - id_apartado - id_pago_adicional;
            }
            $("#diferencia").val(id_diferencia);

            //  Oculta los botones
            $("#btsub").hide();
            $("#btn_recibo").hide();
            $("#btn_adicional").hide();

            // Campo diferencia = 0
//            $("#diferencia").val(0);
//            id_diferencia = 0;

            //  Alinear campos numericos
            $("#id_apartado").css("text-align", "right");
            $("#id_pago_adicional").css("text-align", "right");
            $("#diferencia").css("text-align", "right");

            // Campos de solo lectura
            $("#diferencia").attr('readonly', 'true');

            // Oculta campos credito si es contado
//            if (id_modo_pago == 1 || id_modo_pago == 3) {
            if (id_modo_pago == 1) {
                $("#credito").hide();
            }

            // Cuando cambia valor apartado
            estatus_anterior_lote = id_estatus_lote;
            $("#btn_recibo").hide();
            $("#id_apartado").on("keyup", function () {
                apartado();
            });
            $("#id_apartado").on("change", function () {
                apartado();
            });
            function apartado() {
                $("#id_confirmacion_pago_adicional").val(1);
                $("#id_confirmacion_apartado").val(1);
                $("#btsub").hide();
                if ($("#id_apartado").val() == "") {
                    id_apartado = 0;
                } else {
                    id_apartado = parseFloat($("#id_apartado").val());
                }
                pago_adicional = 0;
                $("#id_estatus_lote").val(1);
                $("#id_estatus_solicitud").val(1);
                $("#id_pago_adicional").val(0);
//                if (id_modo_pago == 1 || id_modo_pago == 3) {
                if (id_modo_pago == 1) {
                    id_diferencia = id_precio_final - id_apartado;
                    if (id_precio_final > id_apartado && id_apartado >= 50000) {
                        $("#btsub").show();
                        $("#id_estatus_lote").val(2);
                        $("#id_estatus_solicitud").val(2);
                    }
                } else {
                    id_diferencia = id_enganche - id_apartado;
                    if (id_enganche > id_apartado && id_apartado >= 50000) {
                        $("#btsub").show();
                        $("#id_estatus_lote").val(2);
                        $("#id_estatus_solicitud").val(2);
                    }
                }
                $("#diferencia").val(id_diferencia);
            }

//            Cuando se modifica pago adicional
            $("#id_pago_adicional").on("keyup", function () {
                adicional()
            }); 
            $("#id_pago_adicional").on("change", function () {
                adicional()
            }); 
            function adicional() {
                $("#id_confirmacion_pago_adicional").val(1);
                if ($("#id_confirmacion_apartado").attr('enabled') == 'False') {
                    $("#id_confirmacion_apartado").val(1);
                }
                $("#btsub").hide();
                if ($("#id_pago_adicional").val() == "") {
                    id_pago_adicional = 0;
                } else {
                    id_pago_adicional = parseFloat($("#id_pago_adicional").val());
                }
                if (!$("#id_apartado").is('[readonly]')) {
                    id_apartado = 0;
                    $("#id_apartado").val(0);
                }
                if (id_pago_adicional > 0) {
                    if (id_modo_pago == "1" || id_modo_pago == "3") {
                        if ((id_apartado + id_pago_adicional) == id_precio_final) {
                            $("#id_estatus_lote").val(3);
                            $("#id_estatus_solicitud").val(3);
                            id_diferencia = 0;
                            $("#btsub").show();
                        } else {
                            $("#id_estatus_lote").val(estatus_anterior_lote);
                            $("#id_estatus_solicitud").val(id_estatus_solicitud);
                        }
                    } else {
                        if ((id_apartado + id_pago_adicional) == id_enganche) {
                            $("#id_estatus_lote").val(3);
                            $("#id_estatus_solicitud").val(3);
                            id_diferencia = 0;
                            $("#btsub").show();
                        } else {
                            $("#diferencia").val(id_diferencia);
                            $("#id_estatus_lote").val(estatus_anterior_lote);
                            $("#id_estatus_solicitud").val(id_estatus_solicitud);
                        }
                    }
                } else {
                    $("#id_estatus_lote").val(estatus_anterior_lote);
                    $("#id_estatus_solicitud").val(id_estatus_solicitud);
                }
                if ($("#id_modo_pago").val() == 1 || $("#id_modo_pago").val() == 3) {
                    id_diferencia = id_precio_final - id_apartado - id_pago_adicional;
                } else {
                    id_diferencia = id_enganche - id_apartado - id_pago_adicional;
                }
                $("#diferencia").val(id_diferencia);
            }
            
            if (id_apartado > 0) {
                $("#id_apartado").attr('readonly', 'true');
                $("#id_confirmacion_apartado").attr('enabled','true');
            }

            if (id_pago_adicional > 0) {
                $("#id_confirmacion_pago_adicional").attr('enabled','true');
                $("#id_pago_adicional").attr('readonly', 'true');
                $("#id_apartado").attr('readonly', 'true');
                $("#diferencia").val(0);
                if (id_apartado == 0) {
                    $("#id_confirmacion_apartado").attr('disabled','true');
                }
            }
            if ($("#id_confirmacion_apartado").val()==2) {
                $("#btn_recibo").show();
                $("#id_confirmacion_apartado").attr('disabled','true');

            }
            if ($("#id_confirmacion_pago_adicional").val()==2) {
                $("#btn_adicional").show();
                $("#id_confirmacion_pago_adicional").attr('disabled','true');
            }
            $("#id_confirmacion_apartado").on("change", function () {
                id_apartado = parseFloat($("#id_apartado").val());
                if (id_apartado == 0) {
                    $("#id_confirmacion_apartado").val(1);
                } else {
                    if ($("#id_confirmacion_apartado").val() == 2 && id_apartado > 0) {
                        $('#btsub').show();
                        $("#paga").val(2);
                    } else {
                        if ($("#id_apartado").attr('readonly') == 'False') {
                            $('#btsub').hide();
                        } else {
                            $('#btsub').show();
                        }
                    }
                }
            });
            $("#id_confirmacion_pago_adicional").on("change", function () {
                id_pago_adicional = parseFloat($("#id_pago_adicional").val());
                if (id_pago_adicional == 0) {
                    $("#id_confirmacion_pago_adicional").val(1);
                } else {
                    if ($("#id_confirmacion_pago_adicional").val() == 2 && id_pago_adicional > 0) {
                        $('#btsub').show();
                        $("#paga").val(3);
                    } else {
                        if ($("#id_pago_adicional").attr('readonly') == 'False') {
                            $('#btsub').hide();
                        } else {
                            $('#btsub').show();
                        }
                    }
                }
            });

        });
    </script>
    {% endfor %}
    {% endif %}
    {% endblock %}