{% extends "core/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% block blcss %}
<style>
  input[type="file"].tres {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
</style>
{% endblock %}
{% block contenido %}
{% if app_proy_cambia_solicitud %}
<div class="container mapa col-6">
  <label class="encabezados">{{ nom_proyecto }} - Solicitud - {{ id }}</label>
  <h3 style="float: right; margin-right: 25px; margin-top: 15px;">Comprobantes</h3>
  <hr class="mt-0 mb-4">
  <div class="row">
    <div class="container row">
      <div class="form-group col-4">
        <a class="btn btn-info" href="{% url 'archivo' num_proyecto %}" title="Regresar a la pantalla anterior">
          <img src="{% static 'core/img/regresar.svg' %}" width="20" />
        </a>
      </div>
    </div>
  </div>
  <div class="col-12">
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {% for e in solicitud %}
      {% if e.apartado > 0 and e.confirmacion_apartado == 2 %}
      <div class="row">
        <label for="formFileSm" class="form-label">Comprobante Apartado depósito</label>
        <div class="col-8">
          <input class="form-control form-control" name="foto_comprobante_apartado" id="id_foto_comprobante_apartado"
            type="file" accept="application/pdf">
        </div>
        <div class="col-1 ExternalFiles">
          {% if trim(e.foto_comprobante_apartado.url) != '' %}
          <a href="{{ e.foto_comprobante_apartado.url }}" target="_blank" class="btn btn-info"
            title="Mostrar comprobante apartado depósito">
            <img src="{% static 'core/img/imprimir.svg' %}" width="20" />
          </a>
          {% else %}
          <label for="" class="form-label" style="margin-top: 5px; font-weight: bold; font-style: italic;">Sin
            comprobante</label>
          {% endif %}
        </div>
        <div class="col-1">
          {% if trim(e.foto_comprobante_apartado.url) != '' %}
          <a class="btn btn-danger" title="Eliminar archivo almacenado del comprobante"
            onclick="eliminar_imagen('Comprobante apartado', 'Solicitud', '{{e.id}}', 'foto_comprobante_apartado')">
            <img src="{% static 'core/img/eliminar.svg' %}" width="20" />
          </a>
          {% endif %}
        </div>
      </div>
      <div class="row">
        <label for="formFileSm" class="form-label">Recibo apartado firmado</label>
        <div class="col-8">
          <input class="form-control form-control" name="recibo_firmado_apa" id="id_recibo_firmado_apa" type="file"
            accept="application/pdf">
        </div>
        <div class="col-1 ExternalFiles">
          {% if trim(e.recibo_firmado_apa.url) != '' %}
          <a href="{{ e.recibo_firmado_apa.url }}" target="_blank" class="btn btn-info"
            title="Mostrar recibo apartado firmado">
            <img src="{% static 'core/img/imprimir.svg' %}" width="20" />
          </a>
          {% else %}
          <label for="" class="form-label" style="margin-top: 5px; font-weight: bold; font-style: italic;">Sin
            comprobante</label>
          {% endif %}
        </div>
        <div class="col-1">
          {% if trim(e.recibo_firmado_apa.url) != '' %}
          <a class="btn btn-danger" title="Eliminar archivo almacenado del recibo firmado"
            onclick="eliminar_imagen('Recibo apartado firmado', 'Solicitud', '{{e.id}}', 'recibo_firmado_apa')">
            <img src="{% static 'core/img/eliminar.svg' %}" width="20" />
          </a>
          {% endif %}
        </div>
      </div>
      {% endif %}
      {% if e.pago_adicional > 0 and e.confirmacion_pago_adicional == 2 %}
      <div class="row">
        <label for="formFileSm" class="form-label">Comprobante adicional depósito</label>
        <div class="col-8">
          <input class="form-control form-control" name="foto_comprobante_pago_adicional"
            id="id_foto_comprobante_pago_adicional" type="file" accept="application/pdf">
        </div>
        <div class="col-1 ExternalFiles">
          {% if e.foto_comprobante_pago_adicional.url != '' %}
          <a href="{{ e.foto_comprobante_pago_adicional.url }}" target="_blank" class="btn btn-info"
            title="Mostrar comprobante adicional depósito">
            <img src="{% static 'core/img/imprimir.svg' %}" width="20" />
          </a>
          {% else %}
          <label for="" class="form-label" style="margin-top: 5px; font-weight: bold; font-style: italic;">Sin
            comprobante</label>
          {% endif %}
        </div>
        <div class="col-1">
          {% if e.foto_comprobante_pago_adicional.url != '' %}
          <a href="#" class="btn btn-danger" title="Eliminar archivo almacenado del comprobante"
            onclick="eliminar_imagen('Comprobante pago adicional', 'Solicitud', '{{e.id}}', 'foto_comprobante_pago_adicional')">
            <img src="{% static 'core/img/eliminar.svg' %}" width="20" />
          </a>
          {% endif %}
        </div>
      </div>
      <div class="row">
        <label for="formFileSm" class="form-label">Pago adicional firmado</label>
        <div class="col-8">
          <input class="form-control form-control" name="recibo_firmado_pa" id="id_recibo_firmado_pa" type="file"
            accept="application/pdf">
        </div>
        <div class="col-1 ExternalFiles">
          {% if e.recibo_firmado_pa.url != '' %}
          <a href="{{ e.recibo_firmado_pa.url }}" target="_blank" class="btn btn-info"
            title="Mostrar pago adicional firmado">
            <img src="{% static 'core/img/imprimir.svg' %}" width="20" />
          </a>
          {% else %}
          <label for="" class="form-label" style="margin-top: 5px; font-weight: bold; font-style: italic;">Sin
            comprobante</label>
          {% endif %}
        </div>
        <div class="col-1">
          {% if e.recibo_firmado_pa.url != '' %}
          <a class="btn btn-danger" title="Eliminar archivo almacenado del recibo firmado"
            onclick="eliminar_imagen('Recibo pago adicional firmado', 'Solicitud', '{{e.id}}', 'recibo_firmado_pa')">
            <img src="{% static 'core/img/eliminar.svg' %}" width="20" />
          </a>
          {% endif %}
        </div>
      </div>
      {% endif %}
      {% endfor %}
      <hr>
      {% if mensualidades %}
      <label for="formFileSm" class="form-label">Recibos mensualidades</label>
      <table class="table col-12 text-center">
        <thead>
          <tr>
            <th>Mens.</th>
            <th>Compromiso</th>
            <th>Pago</th>
            <th>Comprobante</th>
            <th></th>
            <th></th>
            <th>Recibo</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for m in mensualidades %}
          <tr>
            <td style="vertical-align: middle;">{{m.numero_pago}}</td>
            <td style="vertical-align: middle;">{{m.fecha_pago | date:"Y/m/d" }}</td>
            <td style="vertical-align: middle;">{{m.fecha_voucher | date:"Y/m/d" }}</td>
            <td style="vertical-align: middle;">
              {% if m.deposito == 2 %}
              <label for='id-file-comprobante-{{m.id}}' class='btn btn-secondary' title="Agregar documento PDF">
                <img src="{% static 'core/img/comprobante.svg' %}" width="20" />
              </label>
              <input class="btn tres" name='file-comprobante-{{m.id}}' id="id-file-comprobante-{{m.id}}" type="file"
                accept="application/pdf">
              {% endif %}
            </td>
            <td style="vertical-align: middle;">
              {% if trim(m.file_comprobante.url) != '' %}
              <a href="{{ m.file_comprobante.url }}" target="_blank" class="btn btn-info" title="Mostrar comprobotante">
                <img src="{% static 'core/img/imprimir.svg' %}" width="20" />
              </a>
              {% else %}
              <label for="" class="form-label" style="margin-top: 5px; font-weight: bold; font-style: italic;">Sin
                comprobante</label>
              {% endif %}
            </td>
            <td style="vertical-align: middle;">
              {% if trim(m.file_comprobante.url) != '' %}
              <a class="btn btn-danger" title="Eliminar archivo almacenado del comprobante"
                onclick="eliminar_imagen('Comprobante mensualidad', 'Pago', '{{m.id}}', 'file_comprobante')">
                <img src="{% static 'core/img/eliminar.svg' %}" width="20" />
              </a>
              {% endif %}
            </td>
            <td style="vertical-align: middle;">
              {% if m.deposito == 2 %}
              <label for='id-recibo-firmado-{{m.id}}' class='btn btn-secondary' title="Agrega documento PDF">
                <img src="{% static 'core/img/comprobante.svg' %}" width="20" />
              </label>
              <input class="form-control form-control tres" name='recibo-firmado-{{m.id}}'
                id="id-recibo-firmado-{{m.id}}" type="file" accept="application/pdf">
              {% endif %}
            </td>
            <td style="vertical-align: middle;">
              {% if trim(m.recibo_firmado.url) != '' %}
              <a href="{{ m.recibo_firmado.url }}" target="_blank" class="btn btn-info" title="Mostrar recibo firmaddo">
                <img src="{% static 'core/img/imprimir.svg' %}" width="20" />
              </a>
              {% else %}
              <label for="" class="form-label" style="margin-top: 5px; font-weight: bold; font-style: italic;">Sin
                comprobante</label>
              {% endif %}
            </td>
            <td style="vertical-align: middle;">
              {% if trim(m.recibo_firmado.url) != '' %}
              <a class="btn btn-danger" title="Eliminar archivo almacenado del recibo firmado"
                onclick="eliminar_imagen('Recibo de mensualidad firmado', 'Pago', '{{m.id}}', 'recibo_firmado')">
                <img src="{% static 'core/img/eliminar.svg' %}" width="20" />
              </a>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <hr>
      {% endif %}
      <div>
        <button type="submit" class="btn btn-success" title="Guarda solicitud">
          <img src="{% static 'core/img/guardar.svg' %}" width="20" />
        </button>
      </div>
    </form>
  </div>
</div>
<script>
  {% block bljs %}
  function eliminar_imagen(nombre, almacen, id, documento) {
    var accion = "¿Eliminar arcvhivo PDF almacenado, " + nombre + "?";
    var texto_ok = "Archivo PDF " + nombre + " almacenado eliminado";
    var url = "{% url 'elimina_archivo_url' 123 456 789 pk num_proyecto %}";
    url = url.replace('123', almacen);
    url = url.replace('456', id);
    url = url.replace('789', documento);
    confirmacion("Precaución", accion,
      url, "", texto_ok, "Operación cancelada");
  }
  {% endblock %}
</script>
{% endif %}
{% endblock %}
