{% extends "core/base.html" %}
{% load static %}
{% block blcss %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% endblock %}
{% block contenido %}
{% for py in proyecto_tb %}
{% for sol in formulario %}
<div class="container mapa col-9">
    <label class="encabezados">{{ py.nombre }} - Registro de comprobantes</label>
    <h3 style="float: right; margin-right: 25px; margin-top: 15px;">{{ accion }}</h3>
    <hr class="mt-0 mb-4">
    <div class="form-row">
        <div class="container form-row">
            <div class="form-group col-4">
                <a class="btn btn-info" href="{% url 'archivo' py.id %}" title="Regresar a la pantalla anterior">
                    <img src="{% static 'core/img/regresar.svg' %}" width="20" />
                </a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="wrapper fadeInDown">
            <div id="formContent" style="text-align: right;">
                <form action="" method="POST" style="text-align: left;" enctype="multipart/form-data">
                    {% csrf_token %}
                    <hr>
                    <div class="col-12 row">
                        <div class="col-5 row">
                            <div class="custom-input-file-label">
                                <label>{{form.foto_comprobante_apartado.label}}</label>
                            </div>
                            <div title="Selecciona comprobante cliente">
                                <div title="{{form.foto_comprobante_apartado.label}}">
                                    <input type="file" name="{{form.foto_comprobante_apartado.name}}"
                                        id="id_{{form.foto_comprobante_apartado.name}}"
                                        class="campo-file">
                                    <img src="{% static 'core/img/folder.svg' %}" width="30" />
                                </div>
                            </div>
                            <div title="Ver imagen" style="width: 400px;">
                                <input type="file" name="texto_foto_comprobante_apartado"
                                    id="id_texto_foto_comprobante_apartado" value="{{MEDIA_URL}}/{{sol.foto_comprobante_apartado.url}}">
                                <img src="{% static 'core/img/vacio.svg' %}" width="30"
                                    id="muestra_archivo_foto_comprobante_apartado"
                                    onclick="abrirImagen('id_texto_foto_comprobante_apartado','Comprobante cliente apartado')" />
                            </div>
                            <div class="custom-input-file-eliminar" title="Eliminar imagen">
                                <img src="{% static 'core/img/eliminar.svg' %}" width="30" 
                                    id="borra_archivo_foto_comprobante_apartado"/>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success" title="Guarda solicitud">
                        <img src="{% static 'core/img/guardar.svg' %}" width="20" />
                    </button>
                    <a href="" id="archivo_archivo">Esto es una prueba</a>
                </form>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade modalImagenEncabezado" id="cuadroImagen" tabindex="-1" aria-labelledby="cuadroImagenLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-xl" style="height: 650px;">
            <div class="modal-content" style="border-radius: 12px;">
                <div class="modal-header" style="background-color: darkgrey;">
                    <label class="encabezados" id="cuadroImagenLabel">Title</label>
                </div>
                <div class="modal-body" style="text-align: center; background-color: darkgrey;" id="pdf-container">
                    <embed type="application/pdf" style="width:100%; height: 98%;" id="PDFDocumento" />
                </div>
                <div class="modal-footer" style="background-color: darkgray;">
                    <button type="button" class="btn btn-info" data-bs-dismiss="modal"
                        title="Regresar a la pantalla anterior">
                        <img src="{% static 'core/img/regresar.svg' %}" width="20" />
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    {% block javaS %}
        function abrirImagen(campo, titulo) {
            nomCampo = "#" + campo;
            campo = $(nomCampo);
            nom_imagen = campo.val();
            alert(nom_imagen);
            if ((nom_imagen != "/media/") && (nom_imagen != "")) {
                $("#PDFDocumento").attr('src', nom_imagen);
                $("#cuadroImagenLabel").html(titulo);
//                $("#cuadroImagen").modal('show');
                $("#archivo_archivo").attr('href', nom_imagen);
                $("#archivo_archivo").on('click');

            }
        }
    {% endblock %}
</script>
    
{% endfor %}
{% endfor %}
{% endblock %}

