{% extends "core/base.html" %}
{% load static %}
{% block blcss %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% endblock %}
{% block contenido %}
<div class="container mapa col-9">
    <h3 style="float: right; margin-right: 25px; margin-top: 15px;">{{ accion }}</h3>
    <hr class="mt-0 mb-4">
    <div class="form-row">
        <div class="container form-row">
        </div>
    </div>
    <div class="container">
        <div class="wrapper fadeInDown">
            <div id="formContent" style="text-align: right;">
                <form action="" method="POST" style="text-align: left;" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row mb-3">
                        <label for="form.foto_comprobante_apartado.name" class="form-label-sm ">
                            {{ form.foto_comprobante_apartado.label }}
                        </label>
                        <embed src="{{MEDIA_URL}}/{{ form.foto_comprobante_apartado.url }}" type="">
                        <input type="file" class="form-control form-control-sm"
                            name="foto_comprobante_apartado" id="id_foto_comprobante_apartado">
                    </div>
                    <button type="submit" class="btn btn-success" title="Guarda solicitud">
                        <img src="{% static 'core/img/guardar.svg' %}" width="20" />
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    
</script>
{% endblock %}

<script>
{% block inicio %}
    
{% endblock %}
</script>
