{% extends "core/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block blcss %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{{ form.media }}
{% endblock %}
{% block contenido %}
{% if app_proy_estado_cuenta %}
{% for py in proyecto_tb %}
<div class="container" style="margin-left: 20px;">
    <label class="encabezados">Estado de cuenta</label>
    {% if app_proy_imp_estado_cuenta %}
    <a class="btn btn-outline-dark" href="{% url 'estado_cuenta_PDF' id %}" target = "_blank">Imprimir</a>
    {% endif %}
    <br>
    <label class="encabezados">{{ solicitud.titulo_bien }}</label>
    <br>
    <div class="container col-12">
        <a class="btn btn-outline-dark" href="{% url 'pagar' py.id %}">Regresar</a>
        <table class="table table-info table-striped col-md-12">
            <thead>
                <tr>
                    <th style="text-align: center;">Pago</th>
                    <th style="text-align: center;">Compromiso</th>
                    <th style="text-align: center;">importe</th>
                    <th style="text-align: center;">Pago en</th>
                    <th style="text-align: center;">Comprobante</th>
                    <th style="text-align: center;">Estatus</th>
                    <th style="text-align: center;">Depósito</th>
                    <th style="text-align: center;">Registrar</th>
                    <th style="text-align: center;">Recibo</th>
                </tr>
            </thead>
            <tbody>
                {% for p in object_list %}
                <tr>
                    <td style="text-align: center;">{{ p.numero_pago }}</td>
                    <td style="text-align: left;">{{ p.fecha_pago }}</td>
                    <td style="text-align: right;">{{ p.importe }}</td>
                    <td style="text-align: left;">{{ p.get_forma_pago_display }}</td>
                    <td style="text-align: left;">
                        {% if p.numero_comprobante %}
                        {{ p.numero_comprobante }}
                        {% endif %}
                    </td>
                    <td style="text-align: left;">{{ p.get_estatus_pago_display }}</td>
                    <td style="text-align: left;">{{ p.get_deposito_display }}</td>
                    <td style="text-align: center;">
                        {% if app_proy_cap_dep_mensual %}
                        <a href="{% url 'mod_pago' p.id py.id solicitud.id %}" class="btn btn-outline-secondary">Pago</a>
                        {% endif %}
                    </td>
                    <td style="text-align: center;">
                        {% if app_proy_imprime_comprob_mensual and p.folio_recibo != 0 %}
                        <a class="btn btn-outline-dark" href="{% url 'imprime_comprob_mensual_PDF' p.id py.id %}" target = "_blank">Imprimir</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>
    {% block bljs %}
    opcion = "#" + "{{ menu }}";
    $(opcion).addClass('active');
    {% endblock %}
</script>
{% endfor %}
{% endif %}
{% endblock %}