{% extends "core/base.html" %}
{% load static %}
{% block blcss %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% endblock %}
{% block contenido %}
{% if app_proy_pago_normal_comisiones %}
{% for py in proyecto_tb %}
<div class="container mapa col-6">
    <label class="encabezados">{{py.nombre}}</label>
    <h3 style="float: right; margin-right: 25px; margin-top: 15px;">Pago de Comisiones</h3>
    <hr class="mt-0 mb-4" style="background-color: transparent;">
    <div class="container">
        <a class="btn btn-info" href="{% url 'proyectos' %}" title="Regresar a la pantalla anterior">
            <img src="{% static 'core/img/regresar.svg' %}" width="20" />
        </a>
    </div>

    <form action="">
        {% csrf_token %}
        <div class="container">
            <br>
            <div class="row">
                <div class="form-group col-md-3 mb-0">
                    <label for="id_periodo">Periodo de pago:</label>
                    <select name="periodo" id="id_periodo" class="form-control" onchange="form.submit()">
                        {% for f in datos.fechas %}
                        <option value={{f.valor}}>{{f.despliegue}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-md-3 mb-0" style="text-align: right;" id="btn_vobo">
                    {% if estatus_comision == 0 and app_proy_vobo_comisiones and object_list %}
                    <label>   </label><br>
                    <a class="btn btn-success"
                        href="{% url 'vobo_comisiones' periodo py.id fecha_hasta py.nombre importe_gerente importe_publicidad %}"
                        title="Vobo para pagar comisión">
                        <img src="{% static 'core/img/vobo.svg' %}" width="20" />
                    </a>
                    {% endif %}
                </div>
                <div class="form-group col-md-3 mb-0" style="text-align: center;" id="btn_gerentesvobo">
                    {% if object_list %}
                    <label>   </label><br>
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#datosGerentes"
                        title="Detalle gerentes del pago de comisión">
                        <img src="{% static 'core/img/detalle.svg' %}" width="20" />
                    </button>
                    {% endif %}
                </div>
                <div class="form-group col-md-3 mb-0" style="text-align: left;" id="btn_publicidad">
                    {% if object_list %}
                    <label>   </label><br>
                    <a class="btn btn-info"
                        href="{% url 'detalle_comisiones' 0 py.id fecha_desde fecha_hasta 3 estatus_comision periodo %}"
                        title="Detalle publicidad del pago de comisión">
                        <img src="{% static 'core/img/detalle.svg' %}" width="20" />
                    </a>
                    {% endif %}
                </div>
            </div>
            <br>
            <div class="row">
                <div class="form-group col-md-2 mb-0" style="text-align: center;">
                    <label for="total_asesor">Total Asesores</label>
                    <input type="text" name="total_asesor" id="total_asesor" readonly class="form-control"
                        style="text-align: right;" value="{{importe_asesores}}">
                </div>
                <div class="form-group col-md-2 mb-0" style="text-align: center;">
                    <label for="total_director">Total Gerente</label>
                    <input type="text" name="total_director" id="total_director" readonly class="form-control"
                        style="text-align: right;" value="{{importe_gerente}}">
                </div>
                <div class="form-group col-md-2 mb-0" style="text-align: center;">
                    <label for="total_publicidad">Publicidad</label>
                    <input type="text" name="total_publicidad" id="total_publicidad" readonly class="form-control"
                        style="text-align: right; " value="{{importe_publicidad}}">
                    {% if estatus_comision == 1 and estatus_pago_publicidad == 0 %}
                    <a class="btn btn-info" href="#" style="margin-top: 10px;" id="btn_deposito_publicidad"
                        onclick="deposito('{{periodo}}', 0, 3, 'de la publicidad')" title="Depósito realizado">
                        <img src="{% static 'core/img/deposito.svg' %}" width="20" />
                    </a>
                    {% endif %}
                    {% if estatus_pago_publicidad == 1 %}
                    {% if app_proy_imprime_comprob_comision %}
                    <a class="btn btn-info" href="#" style="margin-top: 10px;" id="btn_recibo_publicidad"
                        onclick="recibo('{{periodo}}', 'PUBLICIDAD',
                            '{{bienes_publicidad}}','{{importe_publicidad}}' ,
                            'de la publicidad', '{{folio_comision_publicidad}}','{{py.id}}')" title="Imprime recibo comisión">
                        <img src="{% static 'core/img/imprimir.svg' %}" width="20" />
                    </a>
                    {% endif %}
                    {% endif %}
                </div>
                <div class="form-group col-md-2 mb-0" style="text-align: center;">
                    <label for="total_general">Gran total</label>
                    <input type="text" name="total_general" id="total_general" readonly class="form-control"
                        style="text-align: right;" value="{{importe_general}}">
                </div>
                <div class="form-group col-md-3 mb-0" style="text-align: center;">
                    <label for="total_general">Estatus de pago</label>
                    <input type="text" name="total_general" id="total_general" readonly class="form-control"
                        style="text-align: center;" value="{{ texto_estatus }}">
                </div>
            </div>
        </div>
        <br>
        <div class="col-12" style="text-align: center;">
            <div class="row">
                <table class="estilo-tabla col-12">
                    <thead>
                        <tr>
                            <th class="col-md-5 titulo-tabla" style="text-align: center;">Asesor</th>
                            <th class="col-md-2 titulo-tabla" style="text-align: center;">Bienes</th>
                            <th class="col-md-3 titulo-tabla" style="text-align: right;">Importe comisión</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pc in object_list %}
                        <tr class="datos-tabla">
                            <td style="text-align: left;">{{pc.paterno}} {{pc.materno}} {{pc.nombre}}</td>
                            <td style="text-align: center;">{{pc.bienes}}</td>
                            <td style="text-align: right;">{{pc.total_asesor}}</td>
                            <td style="text-align: center;">
                                <a class="btn btn-info"
                                    href="{% url 'detalle_comisiones' pc.pagocomision__asesor_pago py.id fecha_desde fecha_hasta 1 estatus_comision periodo %}"
                                    title="Detalle del pago de comisión">
                                    <img src="{% static 'core/img/detalle.svg' %}" width="20" />
                                </a>
                            </td>
                            <td style="text-align: center;">
                                {% if estatus_comision == 1 and pc.pagocomision__estatus_pago_asesor == 0 %}
                                <a class="btn btn-info" href="#" id="btn_deposito_asesor" onclick="deposito('{{periodo}}',
                                 '{{pc.pagocomision__asesor_pago}}', 1, 'del asesor {{pc.paterno}} {{pc.materno}} {{pc.nombre}}')"
                                 title="Depósito comisión">
                                    <img src="{% static 'core/img/deposito.svg' %}" width="20" />
                                </a>
                                {% endif %}
                            </td>
                            <td style="text-align: center;">
                                {% if pc.pagocomision__estatus_pago_asesor == 1 %}
                                {% if app_proy_imprime_comprob_comision %}
                                <a class="btn btn-info" href="#" id="btn_recibo_asesor" 
                                    onclick="recibo('{{periodo}}', '{{pc.nombre }} {{ pc.paterno}} {{pc.materno}}',
                                        '{{pc.bienes}}','{{pc.total_asesor}}' , 'del asesor {{pc.paterno}} {{pc.materno}} {{pc.nombre}}',
                                        '{{pc.pagocomision__folio_comision_asesor}}','{{py.id}}')"
                                        title="Imprimir recibo de comisión">
                                    <img src="{% static 'core/img/imprimir.svg' %}" width="20" />
                                </a>
                                {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal fade" id="datosGerentes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true" style="margin-top: 100px;">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="background-color: darkgrey; width: 700px;">
                    <div class="modal-header">
                        <label class="encabezados">Comisiones gerentes</label>
                        <button type="button" class="btn btn-info" data-dismiss="modal"
                            title="Regresar a la pantalla anterior">
                            <img src="{% static 'core/img/regresar.svg' %}" width="20"/>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <table class="estilo-tabla col-12">
                                <thead>
                                    <tr>
                                        <th class="col-6 titulo-tabla" style="text-align: center;">Gerente</th>
                                        <th class="col-1 titulo-tabla" style="text-align: center;">Bienes</th>
                                        <th class="col-4 titulo-tabla" style="text-align: right;">Importe comisión</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for pc in pagos_gerentes %}
                                    <tr class="datos-tabla">
                                        <td style="text-align: left;">{{ pc.gerente_pago__paterno }}
                                            {{ pc.gerente_pago__materno }}
                                            {{ pc.gerente_pago__nombre }}</td>
                                        <td style="text-align: center;">{{ pc.bienes }}</td>
                                        <td style="text-align: right;">{{ pc.total_asesor }}</td>
                                        <td class="col-1" style="text-align: center;">
                                            <a class="btn btn-info"
                                                href="{% url 'detalle_comisiones' pc.gerente_pago py.id fecha_desde fecha_hasta 2 estatus_comision periodo %}"
                                                title="Detalle del pago de comisión">
                                                <img src="{% static 'core/img/detalle.svg' %}" width="20" />
                                            </a>
                                        </td>
                                        <td class="col-1" style="text-align: center;">
                                            {% if pc.estatus_pago_gerente == 0 %}
                                            <a class="btn btn-info" href="#" id="btn_deposito_gerente"
                                                onclick="deposito('{{periodo}}', '{{pc.gerente_pago}}', 2, 'del gerente {{pc.gerente_pago_paterno}} {{pc.gerente_pago_materno}} {{pc.gerente_pago_nombre}}')"
                                                title="Deposito de comisión">
                                                <img src="{% static 'core/img/deposito.svg' %}" width="20" />
                                            </a>
                                            {% elif pc.estatus_pago_gerente == 1 %}
                                            {% if app_proy_imprime_comprob_comision %}
                                            <a class="btn btn-info" href="#" id="btn_recibo_asesor" 
                                            onclick="recibo('{{periodo}}', '{{pc.gerente_pago__nombre }} {{ pc.gerente_pago__paterno}} {{pc.gerente_pago__materno}}',
                                                 '{{pc.bienes}}','{{pc.total_asesor}}' , 'del gerente {{pc.gerente_pago_paterno}} {{pc.gerente_pago_materno}} 
                                                 {{pc.gerente_pago_nombre}}', '{{pc.folio_comision_gerente}}','{{py.id}}')"
                                                 title="Imprimir recibo de comisión" >
                                                <img src="{% static 'core/img/imprimir.svg' %}" width="20" />
                                            </a>
                                            {% endif %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </form>
</div>
<script>
    function deposito(fecha, empleado, opcion, mensaje) {
        var url = "{% url 'deposito_comision' 123 py.id 456 789 %}";
        url = url.replace("123", fecha);
        url = url.replace("456", empleado);
        url = url.replace("789", opcion);
        confirmacion("Precaución", "Registrar el deposito " + mensaje + "? ", url, "", "Depósito registrado", "Depósito no se registro");
    }
    {% if app_proy_imprime_comprob_comision %}
    function recibo(fecha, empleado, bienes, importe, mensaje, folio, num_proyecto) {
        url = "/finanzas/imprime_comprob_comision_PDF/111111/222222/333333/444444/{{py.nombre}}/555555/666666/";
        url = url.replace("111111", fecha);
        url = url.replace("222222", empleado);
        url = url.replace("333333", bienes);
        url = url.replace("555555", folio);
        url = url.replace("666666", num_proyecto);
        url = url.replace("444444", importe);
        window.open(url, "Recibo", target = "_blank");
    }
    {% endif %}
    $(document).ready(function () {
        $("#id_periodo").val("{{periodo}}");
    });
</script>
{% endfor %}
{% endif %}
{% endblock %}