{% extends "core/base.html" %}
{% load static %}
{% block blcss %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% endblock %}
{% block contenido %}
{% for py in proyecto_tb %}
<div style="position: absolute; margin-left: 80px;
     height: auto; width: auto; background-color: transparent;" class="mapa">
    <div class="container col-12">
        <label class="encabezados">{{ py.nombre }}</label><br>
        <label class="encabezados">Consulta de pago de comisiones</label><br>
        <a class="btn btn-outline-dark" href="{% url 'proyectos' %}">Regresar</a><br><br>
    </div>
    <div class="container col-12">
    <table class="table table-info table-striped" style="width: 850px;">
        <thead>
            <tr>
                <th></th>
                <th colspan="6" 
                style="text-align: center; border-left: 1px; border-left-style: solid;
                border-right: 1px; border-right-style: solid;"
                >Comision</th>
                <th></th>
                <th style="text-align: center;">Estatus</th>
            </tr>
            <tr>
                <th class="col-md-1" style="text-align: center;" scope="col">Bien</th>
                <th class="col-md-2" style="text-align: right; border-left: 1px; border-left-style: solid;" scope="col">Asesor</th>
                <th class="col-md-2" style="text-align: right;" scope="col">Estatus</th>
                <th class="col-md-2" style="text-align: right;" scope="col">Gerente</th>
                <th class="col-md-2" style="text-align: right;" scope="col">Estatus</th>
                <th class="col-md-2" style="text-align: right;" scope="col">Publicidad</th>
                <th class="col-md-2" style="text-align: right; border-right: 1px; border-right-style: solid;" scope="col">Estatus</th>
                <th class="col-md-2" style="text-align: right; ;" scope="col">Periodo</th>
                <th class="col-md-2" style="text-align: right;" scope="col">Pago</th>
            </tr>
        </thead>
        <tbody>
            {% for c in object_list %}
            <tr>
                <td class="col-md-1" style="text-align: center;" scope="col">{{ c.bien_pago }}</td>
                <td class="col-md-1" style="text-align: center;" scope="col">{{ c.importe }}</td>
                <td class="col-md-1" style="text-align: center;" scope="col">{{ c.get_estatus_pago_comision_display }}</td>
                <td class="col-md-1" style="text-align: center;" scope="col">{{ c.importe_gerente }}</td>
                <td class="col-md-1" style="text-align: center;" scope="col">{{ c.get_estatus_pago_gerente_display }}</td>
                <td class="col-md-1" style="text-align: center;" scope="col">{{ c.importe_gerente }}</td>
                <td class="col-md-1" style="text-align: center;" scope="col">{{ c.get_estatus_pago_publicidad_display }}</td>
                <td class="col-md-1" style="text-align: center;" scope="col">{{ c.fecha_periodo }}</td>
                <td class="col-md-1" style="text-align: center;" scope="col">{{ c.get_estatus_comision_display }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% if page_obj.has_previous %}
<a href="?page={{ page_obj.previous_page_number }}" class="btn btn-success">Anterior</a>
{% endif %}
{% if page_obj.has_next %}
<a href="?page={{ page_obj.next_page_number }}" class="btn btn-success">Siguiente</a>
{% endif %}
<script>
    {% block bljs %}
    opcion = "#" + "{{ menu }}";
    $(opcion).addClass('active');
    {% endblock %}
</script>
{% endfor %}
{% endblock %}