{% extends "core/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block blcss %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{{ form.media }}
{% endblock %}
{% block contenido %}
{% for py in proyecto_tb %}
{% if app_proy_amortizac %}
{% for x in datos.titulo %}
<div class="container mapa col-7">
    <label class="encabezados">{{ py.nombre }} - Tabla Amortización - Solicitud - {{ x.pk }}</label>
    <hr class="mt-0 mb-4">
    <a class="btn btn-info" href="{% url 'solicitudes' py.id %}" title="Regresar a la pantalla anterior">
        <img src="{% static 'core/img/regresar.svg' %}" width="20"/>
    </a>
    {% if app_proy_imprime_amortizac %}
    <button id="btn_adicional" class="btn btn-info" onclick="imprime('{{ pk }}')" title="Imprime tabla de amortización">
        <img src="{% static 'core/img/imprimir.svg' %}" width="20"/>
    </button>
    {% endif %}
    <br><br>
    <div class="container col-12">
        <div class="row">
            <div class="form-group col-md- mb-0">
                <label for="ptp">Cliente</label>
                <input type="text" name="ptp" id="ptp" value="{{ solicitud.cliente }}" readonly="readonly">
            </div>
            <div class="form-group col-md-6 mb-0">
                <label for="en">{{ py.singular}}</label>
                <input type="text" name="en" id="en" value="{{ solicitud.lote }}" readonly="readonly">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-3 mb-0">
                <label for="ptp">Precio de venta</label>
                <input type="text" name="ptp" id="ptp" value="{{ x.precio_final }}" readonly="readonly"
                    style="text-align: right;">
            </div>
            <div class="form-group col-md-3 mb-0">
                <label for="en">Enganche</label>
                <input type="text" name="en" id="en" value="{{ x.enganche }}" readonly="readonly"
                    style="text-align: right;">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-3 mb-0">
                <label for="ic">Importe de crédito</label>
                <input type="text" name="ic" id="ic" value="{{ x.impPorPagar }}" readonly="readonly"
                    style="text-align: right;">
            </div>
            <div class="form-group col-md-3 mb-0">
                <label for="in">Importe intereses total</label>
                <input type="text" name="in" id="in" value="{{ x.interes_total }}" readonly="readonly"
                    style="text-align: right;">
            </div>
            <div class="form-group col-md-3 mb-0">
                <label for="ptt">Pago total</label>
                <input type="text" name="ptt" id="ptt" value="{{ x.pago_total }}" readonly="readonly"
                    style="text-align: right;">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-3 mb-0">
                <label for="pra">Pagos a realizar</label>
                <input type="text" name="pra" id="pra" value="{{ x.cantidad_pagos }}" readonly="readonly"
                    style="text-align: right;">
            </div>
            <div class="form-group col-md-3 mb-0">
                <label for="im">% Interés mensual</label>
                <input type="text" name="im" id="im" value="{{ x.interes }}" readonly="readonly"
                    style="text-align: right;">
            </div>
        </div>
    </div>
    <hr>
    <div class="container col-12">
        <table class="estilo-tabla">
            <thead>
                <tr>
                    <th class="col-md-1 titulo-tabla" style="text-align: center;">Núm. Pago</th>
                    <th class="col-md-2 titulo-tabla" style="text-align: right;">Saldo inicial</th>
                    <th class="col-md-2 titulo-tabla" style="text-align: right;">Pago mensual</th>
                    <th class="col-md-2 titulo-tabla" style="text-align: right;">Interés</th>
                    <th class="col-md-2 titulo-tabla" style="text-align: right;">Pago total</th>
                    <th class="col-md-2 titulo-tabla" style="text-align: right;">Saldo final</th>
                </tr>
            </thead>
            <tbody>
                {% for e in datos.pagos %}
                <tr class="datos-tabla">
                    <td style="text-align: center;">{{ e.pago }}</td>
                    <td style="text-align: right;">{{ e.saldo_inicial }}</td>
                    <td style="text-align: right;">{{ e.pago_mensual }}</td>
                    <td style="text-align: right;">{{ e.interes_mensual }}</td>
                    <td style="text-align: right;">{{ e.pago_total_mensual }}</td>
                    <td style="text-align: right;">{{ e.saldo_final }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container">
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-info" title="Listado anterior">
            <img src="{% static 'core/img/anterior.svg' %}" width="20" />
        </a>
        {% endif %}
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="btn btn-info" title="Listado siguiente">
            <img src="{% static 'core/img/siguiente.svg' %}" width="20" />
        </a>
        {% endif %}
        </div>
    </div>
</div>
{% endfor %}
{% endif %}
{% endfor %}
<script>
    function imprime(dato) {
        window.open("{{ archivo }}" + dato + "/",
            "Tabla amortización", target = "_blank");
    }
</script>
{% endblock %}