{% extends "core/base.html" %}
{% load static %}
{% block contenido %}
{% if perms.core.view_banco %}
<div style="position: absolute; margin-left: 80px;
     height: auto; width: auto; background-color: transparent;" class="mapa">
<label class="encabezados">Bancos</label>
<div class="container col-12">
    {% if perms.core.add_banco %}
    <a type="button" class="btn btn-outline-dark" href="{% url 'nvo_banco' %}">Agregar</a>
    {% endif %}
    <table class="table table-info table-striped" style="width: 850px;">
        <thead>
            <tr>
                <th scope="col-md-1">Abreviación</th>
                <th scope="col-md-3">Nombre</th>
                <th scope="col-md-1">Estatus</th>
                <th scope="col-md-1"></th>
            </tr>
        </thead>
        <tbody>
            {% for p in object_list %}
            <tr>
                <td>{{ p.abreviacion }}</td>
                <td>{{ p.banco }}</td>
                <td>{{ p.get_estatus_banco_display }}</td>
                {% if perms.core.change_banco %}
                <td><a href="{% url 'mod_banco' p.id %}" class="btn btn-outline-secondary">Editar</a></td>
                {% else %}
                <td></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% if page_obj.has_previous %}
<a href="?page={{ page_obj.previous_page_number }}" class="btn btn-success">Anterior</a>
{% endif %}
{% if page_obj.has_next %}
<a href="?page={{ page_obj.next_page_number }}" class="btn btn-success">Siguiente</a>
{% endif %}
</div>
{% endif %}
{% endblock %}