{% extends "core/base.html" %}
{% load static %}
{% block blcss %}
{% endblock %}
{% block contenido %}
<div class="col-12 d-flex justify-content-center">
    {% if not user.is_authenticated %}
        <img src="{% static 'core/img/banner/banner1.jpg' %}" class="col-6 imagen-principal">
    {% else %}
    {% if valida_proyectos %}
    <div class="mapa col-6 text-center">
        <label class='encabezados'>Proyectos</label>
        <hr>
        <div class="row d-flex justify-content-center" >
            {% if nuvole_acceso and nuvole_activo == 1 %}
            <div class="card mb-3 mapa proyecto-card">
                <div class="card-header">Fracc. Nuvole<br>Lotes</div>
                <div class="card-body">
                    <a href="{% url 'nuvole' 1 0 %}">
                        <img src="{% static 'core/img/plano2022.jpg' %}" alt="imagen proyecto" class="detalle">
                    </a>
                </div>
            </div>
            {% endif %}
            {% if toscana_acceso and toscana_activo == 1 %}
            <div class="card mb-3 mapa proyecto-card">
                <div class="card-header">Toscana<br>Locales</div>
                <div class="card-body">
                    <a href="{% url 'toscana' 2 0 %}">
                        <img src="{% static 'core/img/Planta baja.png' %}" alt="imagen proyecto" class="detalle">
                    </a>
                </div>
            </div>
            {% endif %}
            {% if torre_vento_acceso and torre_vento_activo == 1 %}
            <div class="card mb-3 mapa proyecto-card">
                <div class="card-header">Torre Vento<br>Vivienda vertical</div>
                <div class="card-body">
                    <a href="{% url 'torrevento' 3 0 %}">
                        <img src="{% static 'core/img/no disponible.jpg' %}" alt="imagen proyecto" class="detalle">
                    </a>
                </div>
            </div>
            {% endif %}
            {% if monte_cristallo_acceso and monte_cristallo_activo == 1 %}
            <div class="card mb-3 mapa proyecto-card">
                <div class="card-header">Monte Cristallo<br>Vivienda horizontal</div>
                <div class="card-body">
                    <a href="{% url 'montecristallo' 4 0 %}">
                        <img src="{% static 'core/img/no disponible.jpg' %}" alt="imagen proyecto" class="detalle">
                    </a>
                </div>
            </div>
            {% endif %}
            {% if nuvole2_acceso and nuvole2_activo == 1 %}
            <div class="card mb-3 mapa proyecto-card">
                <div class="card-header">Nuvole 2<br>Lotes</div>
                <div class="card-body">
                    <a href="{% url 'nuvole2' 9 0 %}">
                        <img src="{% static 'core/img/no disponible.jpg' %}" alt="imagen proyecto" class="detalle">
                    </a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    {% endif %}
    {% endif %}
</div>
{% endblock %}